<a href="https://colab.research.google.com/github/haerinHong/Spring_2021/blob/main/%ED%98%84%ED%96%89%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [339]:
import pandas as pd
import numpy as np

In [340]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [341]:
file1 = '/gdrive/MyDrive/Colab Notebooks/ASIS_공통영역_공통기본.xlsx'
file2 = '/gdrive/MyDrive/Colab Notebooks/리버스_일괄편집.xlsx'

In [41]:
asis = pd.read_excel(file1)
asis.head()

   원본엔터티명    테이블명   원본속성명     속성명  컬럼명  보조명  ... 소수점  본질식별자  실질식별자 NotNull 표준화  설명
0  COPY_T  COPY_T      NO      NO   NO   NO  ... NaN    NaN    NaN     NaN  상속 NaN
1  COPY_T  COPY_T     NO2     NO2  NO2  NO2  ... NaN    NaN    NaN     NaN  상속 NaN
2  표준분류체계  표준분류체계  표준분류ID  표준분류ID  NaN  NaN  ... NaN    NaN      Y       Y  상속 NaN
3  표준분류체계  표준분류체계   표준분류명   표준분류명  NaN  NaN  ... NaN    NaN    NaN     NaN  상속 NaN
4    모델영역    모델영역  주제영역ID  주제영역ID  NaN  NaN  ... NaN    NaN      Y       Y  상속 NaN

[5 rows x 14 columns]

In [42]:
rev = pd.read_excel(file2)
rev.head()

         원본엔터티명          테이블명   원본속성명     속성명  ... 실질식별자  NotNull 표준화      설명
0  삭제대상_Diagram  tdag_man_del  트랜잭션ID  트랜잭션ID  ...     Y        Y  상속  트랜잭션ID
1  삭제대상_Diagram  tdag_man_del    모델ID    모델ID  ...     Y        Y  상속    모델ID
2  삭제대상_Diagram  tdag_man_del     ID1     ID1  ...     Y        Y  상속     ID1
3  삭제대상_Diagram  tdag_man_del     ID2     ID2  ...     Y        Y  상속     ID2
4  삭제대상_Diagram  tdag_man_del     ID3     ID3  ...     Y        Y  상속     ID3

[5 rows x 14 columns]

In [45]:
print('asis shape ' , asis.shape)
print('rev shape ', rev.shape)

asis shape  (235, 14)
rev shape  (15091, 14)

In [ ]:
# 리버스 테이블 중 asis와 공통되는 테이블 row를 빼서 추출
# 2) 소문자는 대문자로 변경
#   한글로 논리명 변경

In [61]:
asis_col = asis['테이블명'].unique().tolist()
asis_col

['COPY_T',
 '표준분류체계',
 '모델영역',
 'USR_ROLE_PRIV',
 'USR_USR_ALERT',
 'USR_ALLOC',
 'USR_MENUGRP',
 'USR_USER',
 'MM_MAPBIZOBJ',
 'USR_GROUP_MEMBER',
 'MM_ATTACH_FILE',
 'USR_RCV_EVENT',
 'MMLICENSE',
 'USR_ROLE',
 'USR_DEPT',
 'Part',
 'USR_JOB_EVENT',
 'USR_SCR_OBJ',
 '응용분류체계',
 'DQ업무영역',
 'USR_DAILY_ALERT',
 '물리테이블',
 'MMMASTER',
 'USR_GROUP',
 'MM_CODE',
 'MM_NOTICE',
 'USR_PRIV',
 'USER_OBJ_MAP',
 'USR_MENU',
 'MM_BIZ_AREA',
 'USR_EVENT',
 'MM_NOTICE_FILE',
 '작업',
 'USR_USAGE_LOG',
 'MM_LOGIN_HIST',
 'USR_PRIV_SCR_OBJ',
 nan]

In [62]:
rev[rev['테이블명'] == 'copy_t']

       원본엔터티명    테이블명 원본속성명  속성명  컬럼명  보조명  ... 소수점  본질식별자  실질식별자  NotNull 표준화   설명
10453  copy_t  copy_t    no   no   no  NaN  ... NaN    NaN    NaN      NaN  상속   no
10454  copy_t  copy_t   no2  no2  no2  NaN  ... NaN    NaN    NaN      NaN  상속  no2

[2 rows x 14 columns]

In [63]:
if 'COPY_T' in asis_col :
  print('yes')

else : print('no')

yes

In [64]:
# 공통영역에 해당하는 리버스 데이터를 거르기 위한 작업
# filte_rev에 공통영역에 해당하는 리버스 데이터를 넣음. 스키마만 따기 위한 작업
filter_rev = pd.DataFrame(rev[rev['테이블명'] == ''])
filter_rev

Empty DataFrame
Columns: [원본엔터티명, 테이블명, 원본속성명, 속성명, 컬럼명, 보조명, 데이터타입, 길이, 소수점, 본질식별자, 실질식별자, NotNull, 표준화, 설명]
Index: []

In [65]:
rev['테이블명'][3].upper()

'TDAG_MAN_DEL'

In [70]:
# for문
not_in_asis_entity = [] #-> ASIS에 포함되지 않는 리버스의 컬럼명들 unique 한 값만 모을 예정
for i in range(len(rev.index)) :
  rev_uppers = rev['테이블명'][i].upper()
  if rev_uppers in asis_col:
    filter_rev = pd.concat([filter_rev, rev[i:i+1]], ignore_index=True)
  else :
    if rev_uppers not in not_in_asis_entity:
      not_in_asis_entity.append(rev_uppers)

In [71]:
filter_rev.shape

(284, 14)

In [72]:
not_in_asis_entity

['TDAG_MAN_DEL',
 'MCS_SY_IQ_SYSINDEX',
 'MDQ_FILE_LOG',
 'DF_DBLINK_INST_MAP',
 'MD_MDL_GAP_ATRCOL',
 'TDAM_TGT_DB_MDL',
 'TDAM_SUBSET',
 'MDQ_CALENDAR_T',
 'MET_STP_SQL_HST',
 'MA_REL_SQL',
 'MDQ_DQI',
 'MAQ_ISPT_FILE_RULE',
 'TMD_OBJ_CHG_DTL',
 'MDB_ACCT_GRANT_HIST',
 'TMD_CONST',
 'TMD_SEG',
 'ENC_MVIEW_DETAIL_RELATIONS',
 'ENC_V$PARAMETER',
 'MCS_PG_INFO_SCHEMA_COLUMNS',
 'MD_OBJANAL',
 'MCS_ALT_V_VERSION',
 'DF_AREA_USR_MAP',
 'MET_CONN_LIST',
 'TDAM_STRU_ORD',
 'MCS_USER_JOB_GRP',
 'TMD_RVS_TABLE',
 'MM_LOCALE_MESSAGE',
 'IMSI_USR_DEPT_REG',
 'MA_CBL_CMD_DTL',
 'ENC_CONS_COLUMNS',
 'MDB_ATTR_PROPERTY',
 'MCS_HBASE_FUNCS',
 'MDQ_PROFILE_RSLT',
 'USR_MENU_HIST',
 'MET_JOB_RN_LOG',
 'MCS_ALT_COMMENTS',
 'MAQ_RULE_AQI',
 'STD_TERMS_ATTR_MAP',
 'MD_GAP_CLASS_DBMS',
 'STD_REQ_CD_MD_COL_MAP',
 'IMSI_MDQ_JOB_DTL',
 'DF_GRP_OBJ_MAP',
 'MD_COL',
 'DF_SYS_SYNONYM',
 'MCS_ALT_TRIGGERS',
 'MCS_SY_SYSREMOTELOGINS',
 'IMSI_CODE_INST_MAPPING',
 'TMD_LOGICANAL',
 'MD_DF_USG',
 'MA_TDF_BODY',
 'MD_MDL_CONST',
 'MCS_SY_IQ_SYSIQFILE',
 'MA_APPACCT_MAP',
 'MA_FILE_ACTION',
 'TMD_SEG_STG_DTL',
 'STD_DATATYPE_CONV',
 'MCS_ALT_USERS',
 'STD_DIC_REL',
 'MD_OBJ_REL',
 'TTMD_TRG',
 'MDQ_MAPPING_RSLT_DATA',
 'MDQ_COLS',
 'TDAM_USER_DEFI',
 'STD_CD_VAL_LOCALE',
 'ABB_COMP_03',
 'TMP_USR_DEPT',
 'STD_CODE_LOCALE',
 'MCS_JDBC_MAP',
 'MDB_GAP_ANL_TRGT',
 'MCS_PG_CONSTRAINT',
 'MDQ_IMSI_INDCT_CLSFC_CRTR',
 'DA_CODE',
 'MCS_ALT_PASSWORD_HISTORY',
 'MA_SQL_SUBSQL',
 'MCS_MSS_SEQUENCES',
 'MCS_SY_IQ_PARAM',
 'MA_CMS_REL_DETAIL',
 'STD_CODE',
 'MAQ_SQL',
 'MCS_SY_IQ_SYSIQINFO',
 'MDQ_IMSI_DGNSS_TBL_UPLOAD',
 'MM_DOMAIN',
 'ENC_FREE_SPACE',
 'TMD_COL_STATISTICS',
 'MDQ_BIZ_RULE_ERR_CNT',
 'TDAM_ROLE_NM_INFO',
 'MDB_GAP_ATTR_DTL',
 'DA_TERM',
 'MD_JOB_SCHD',
 'DAM_OBJ_CLOB_INFO',
 'MD_GAP_EXCLUDED_TABLES',
 'MCS_PG_COLUMNS',
 'MCS_MSS_CHECK_CONSTRAINTS',
 'MA_FILE_DESC',
 'MD_PROJECTION_COL',
 'TDAM_OBJ_CLOB_INFO',
 'TMD_DB',
 'STD_CHK_RSLT',
 'MDQ_CD_TBL_INF',
 'IMSI_STD_DOM_CONV',
 'IMSI_STD_DIC_REQ_LISTCD_VAL',
 'MDQ_SIGMA',
 'DM_TBL',
 'MCS_MSS_TEMPTABLES',
 'TMD_COL',
 'MCS_SY_SYSSERVERS',
 'DAM_SYSTEM_COLUMN',
 'MCS_MSS_TABLES',
 'HOLIDAY',
 'MCS_ALT_REPL_RECOVERY_INFOS',
 'MDQ_PROFILE_SQL',
 'USR_CODE_HIST',
 'MCS_MSS_ALLOCATION_UNITS',
 'TMD_PROJECTION_COL',
 'ENC_PART_TABLES',
 'MCS_PG_NAMESPACE',
 'STD_CD_VAL',
 'MSG_TARGET',
 'ENC_IND_PARTITIONS',
 'TMD_CPU_USE_STATISTICS',
 'DAM_MDL_CONTAINER',
 'IMSI_MDQ_JOB',
 'MCS_MSS_SYSCURCONFIGS',
 'TDAM_VALID_VALUE',
 'DAG_CNVAS',
 'MD_COL_ADDN',
 'ENC_SEGMENTS',
 'TDAM_PROP_EXT_DATA',
 'MDQ_JOB_DTL',
 'ENC_TABLES',
 'DAM_OBJ_EXT_INFO',
 'MCS_PG_TABLESPACE',
 'MD_JOB',
 'TDAG_SYNCLINK',
 'SQL_TABLE_JOB',
 'MCS_ALT_RECYCLEBIN',
 'ENC_TAB_COMMENTS',
 'ENC_USERS',
 'TMD_SEQ',
 'MCS_SY_IQ_SYSIXCOL',
 'STD_CD_COL_MAP',
 'MCS_MSS_SERVER_PRINCIPALS',
 'MDQ_IMSI_BR_RI',
 'ABB_COMP_01',
 'DAM_DERIVED_INFO',
 'MDQ_PROFILE_ITEM',
 'MDB_ACCT_GRANT_JOB_REQ',
 'MCS_MSS_SRC',
 'MD_MDL_OBJ_PROPERTY',
 'ENC_SEGMENT_STATISTICS',
 'SMPL_SR_REQ_INFO',
 'DAM_DERIVED_ATTRDATA',
 'ENC_SEQUENCES',
 'MCS_SY_ASE_SYSDEPENDS',
 'MCS_ALT_TRIGGER_STRINGS',
 'MET_JOB_PARAM',
 'MA_SQL_CLAUSE',
 'MD_ANAL_LOG',
 'MD_PROJECTION',
 'MDB_ACCT_USE_INFO',
 'MDQ_DGNSS_TABLES',
 'DAG_GRPLINK',
 'TDAM_COLUMN_PARTI_ITEMRANGE',
 'MCS_PG_INFO_SCHEMA_SEQUENCES',
 'TMD_ACCT',
 'MDQ_PROFILING',
 'DAM_TERM',
 'TDAM_MAPPER',
 'MCS_HBASE_COLUMNFAMILY',
 'MS_APRV_ERR_LOG',
 'MA_APP_AREA_DETAIL',
 'MCS_DB2UDB_SYSTRIGGERS',
 'MET_STP_RN_HST_PART',
 'MCS_MSS_EXTENDED_PROPERTIES',
 'REQ_DOC_INFO',
 'IMSI_MD_MDL_CHG_COL',
 'MCS_HBASE_TABLES',
 'MOCA_BIND_VAR',
 'IMSI_MD_MDL_CHG_REQ_UDP',
 'TMD_MVIEW',
 'DAM_ALGN_MAP',
 'MCS_ALT_TABLE_SIZE',
 'MA_UNKNOWN',
 'MCS_MSS_PARTITIONS',
 'STD_DOM_CONV',
 'ENC_ARGUMENTS',
 'STD_BAN',
 'TDAM_TABLESPACE_DATA',
 'MCS_SY_ASE_SYSCONFIGURES',
 'MCS_MSS_INDEX_COLUMNS',
 'STD_DATATYPE',
 'MDQ_JOB_LOG',
 'DF_COLL_JOB',
 'T_REQUEST',
 'MCS_PG_DEPEND',
 'MD_MVIEW',
 'ENC_PRDT_CMPNT_VERSION',
 'MD_UDP_CLSS',
 'STD_AREA',
 'MD_PROC',
 'MCS_ALT_TABLE_PARTITIONS',
 'MDB_OBJ_PROPERTY',
 'ENC_IND_COLUMNS',
 'MCS_MSS_COLUMNS',
 'MD_CPU_USE_STATISTICS',
 'MCS_MSS_TEMPSRC',
 'TMP_ALL_REQ_INFO',
 'MAQ_SQLINFO',
 'ENC_SNAPSHOT_LOGS',
 'MCS_DB2UDB_VIEWS',
 'MS_CODE_HIST',
 'DAM_DB_OBJ',
 'MCS_ALT_V_TABLESPACES',
 'MCS_ALT_PART_TABLES',
 'MD_OBJ_ADDN_DEF',
 'MDQ_DGNSS_COLS',
 'MCS_ALT_V_SEQ',
 'MCS_PG_INDEX',
 'MCS_MSS_OBJECTS',
 'MD_REPRESOL_STATISTICS',
 'MCS_MSS_SYSREMOTELOGINS',
 'MCS_PG_CLASS',
 'MD_ISSU_DTL',
 'MAQ_ISPT_FILE',
 'MDB_INDEX_OBJ_COL',
 'DAM_COLUMN_PARTI_ITEMRANGE',
 'DF_COLL_SYS',
 'DAG_SYNCLINK',
 'ENC_COL_COMMENTS',
 'MA_USE_OBJ_MAP',
 'MS_STD_CONFIG',
 'MCS_MSS_DATABASE_PRINCIPALS',
 'MDQ_DGNSS_PTTRN',
 'MCS_SY_IQ_SYSFOREIGNKEY',
 'REQ_CHK_ITEM_HIST',
 'DAM_PANE',
 'DA_LOCALE',
 'MA_NODE',
 'DF_MPPGDEF_GRP',
 'MCS_ALT_LOBS',
 'IMSI_CODE_DIST_REQ',
 'MDQ_BIZ_RULE_RSLT',
 'MS_LOCALE',
 'DAG_PRSETLINK',
 'MET_BIZ_TBL',
 'MD_MDL_STORAGE',
 'MCS_ALT_V_DATAFILES',
 'TDAM_UDP',
 'MDB_MDL_CHG_DDL',
 'DAM_VALID_VALUE',
 'MCS_HBASE_SCHEMA',
 'MDQ_JOB_FLOW',
 'MCS_VT_TABLES',
 'ENC_TAB_SUBPARTITIONS',
 'MD_MNG_APPAREA',
 'MD_MDL_SYSTEM_ATTRIBUTE',
 'MS_MSG',
 'MCS_ALT_PART_KEY_COLUMNS',
 'USR_TERM',
 'MCS_SY_ASE_SYSCURCONFIGS',
 'MOCA_VAR_DEF',
 'MCS_ALT_VIEWS_PARSE',
 'DF_REQ_MPPGGRP',
 'MDQ_BIZ_RULE_RSLT_DATA',
 'MD_LINK',
 'MDQ_CTQ_COL',
 'DAG_ZORDER',
 'SMPL_SR_REQ_COLUMN',
 'SQL_POLICY_TAB_COL',
 'MCS_ALT_V_MEM_TABLESPACES',
 'TMD_TRG',
 'MCS_VT_TABLE_CONSTRAINTS',
 'MDQ_BR_CTQ',
 'MCS_SY_ASE_SYSPARTITIONS',
 'MS_CODE',
 'MET_STP_SQL_HST_PART',
 'MCS_VT_USER_PROCEDURES',
 'DAM_DMN',
 'DM_TBL_OPT',
 'TMD_SQLANAL',
 'TDAM_ENT_ATTR_REL',
 'MCS_ALT_REPL_OLD_INDEX_COLUMNS',
 'MAQ_ISPT_RULE',
 'MDB_INDEX_DDL',
 'ENC_CONSTRAINTS',
 'TDAG_CELLBORDER',
 'REQ_CHK_ITEM_VAR_HIST',
 'TMD_DF_ALLOC',
 'SQL_QUERY_LOG',
 'TMD_DEP',
 'ENC_OBJECTS',
 'MD_SVR_IP',
 'STD_DIC_DATA',
 'MET_LAUNCHER_STATUS',
 'MCS_PG_LANGUAGE',
 'DAM_CLUSTER_COL_INFO',
 'ENC_VIEWS',
 'MD_SQLANAL',
 'MCS_ALT_REPL_ITEMS',
 'MD_COL_STATISTICS',
 'MD_GAP_CLASS_HIST',
 'MD_DF',
 'MAQ_RULE',
 'MAQ_RULESET',
 'MET_PRPT_LIST',
 'MDB_INDEX_JOB',
 'LOCK_MDL_LIST',
 'IMSI_MDB_JOB_REQ',
 'MCS_MY_KEY_COLUMN_USAGE',
 'MS_ERR_LOG',
 'MCS_RS_TBL_PERM',
 'MD_CHG_MNG_COL',
 'MDQ_IMSI_BR_CONSISTENCY',
 'MCS_VT_TYPES',
 'MDB_GAP_ANL_INF',
 'MET_SQL_EXPRESSION',
 'MCS_ALT_X_SEGMENT',
 'MCS_MSS_KEY_CONSTRAINTS',
 'MCS_MSS_SERVERS',
 'MCS_MSS_SYSLOGINS',
 'TDAG_CELL',
 'MET_STP_RN_HST',
 'MCS_ALT_SECURITY',
 'MDQ_CD_TRGT_MAP',
 'MCS_ALT_REPL_OLD_COLUMNS',
 'IMSI_TERM_INFO',
 'MCS_ALT_TABLES',
 'MCS_SY_IQ_SYSTRIGGER',
 'MDB_ROLE_MAP',
 'MCS_MSS_PARTITION_SCHEMES',
 'STD_DOM',
 'MCS_ALT_PROCEDURES',
 'MCS_MY_ROUTINES',
 'TMD_TAB_RTN',
 'SQL_MASKING_ACTION',
 'MDL_CHK_ITEM',
 'USR_USER_DEPT_MAP',
 'TDAM_DERIVED_ATTRDATA',
 'MS_UDP',
 'MD_MNG_OBJ',
 'ABB_COMP_02',
 'TMD_MVIEW_LOG',
 'MCS_SY_IQ_SYSCOLUMN',
 'DAM_ROLE_NM_INFO',
 'MCS_VT_VIEWS',
 'ENC_IND_SUBPARTITIONS',
 'MSG_LOG',
 'MDQ_JOB_FLOW_EXEC_JOB',
 'MCS_ALT_PROC_RELATED',
 'MD_TS',
 'MET_RULE_CHK_SCRIPT',
 'TMD_LINK_LOGN',
 'MD_GAP_ATTR_PROPERTY',
 'MDB_DDL_SYNTX_HIST',
 'MCS_ALT_DIRECTORIES',
 'MD_MDL_ATTR_PROPERTY',
 'DAG_CELLBORDER',
 'IMSI_STD_DIC_REQ_CD_VAL',
 'DAG_BLOB',
 'MD_VIEW',
 'TESTTABLE',
 'MCS_VT_CONSTRAINT_COLUMNS',
 'MDQ_BR_COL',
 'MCS_MSS_SYSFILES',
 'STD_TERM_ANLY_WORDS',
 'MCS_MSS_PARTITION_RANGE_VALUES',
 'MS_UDP_LST_VAL',
 'MCS_MSS_FOREIGN_KEYS',
 'TDAM_MDL_CONTAINER',
 'MET_JOB_RN_HST_PART',
 'MD_DF_ALLOC',
 'MD_DB_PM_MAP',
 'MD_SRC',
 'UI_LABEL',
 'MAQ_ISPT_RSLT',
 'DAM_PROP_EXT_DEFI',
 'MA_CALLMTH',
 'IMSI_DBTODB_GAP',
 'IMSI_CODE_INFO',
 'TMD_ARG',
 'MCS_MSS_SQL_EXP_DEPENDS',
 'MCS_ALT_INDEX_PARTITIONS',
 'MD_TS_STG_DTL',
 'MCS_ALT_V_DATABASE',
 'DF_COLL_OBJ',
 'MM_MENU_HIST',
 'MD_HIWATERMARK_STATISTICS',
 'MCS_USER_JOB_SQL',
 'MCS_MY_TABLES',
 'MCS_ALT_CONSTRAINT_RELATED',
 'MD_GAP_OBJ_PROPERTY',
 'MA_CALLMTH_ARG',
 'ENC_IND_EXPRESSIONS',
 'DAM_ENT_OBJ',
 'DF_COLL_JOB_PRPT',
 'MDQ_BR_REQ_INFO',
 'ENC_SUBPART_KEY_COLUMNS',
 'MCS_MSS_SCHEMAS',
 'MDB_GAP_CLASS_PROPERTY',
 'MA_LOGIC_DTL',
 'ENC_MVIEWS',
 'MCS_SY_ASE_SYSPARTITIONKEYS',
 'IMSI_ATTR_PROPERTY',
 'DAG_CELL',
 'DF_MPPGGRP_LIST',
 'MCS_MSS_SYSCOMMENTS',
 'MDQ_SELECT_COLS',
 'MDB_GAP_DATA_TYPE_RULE_BASE',
 'STD_CONTENTS_MAP',
 'MCS_MSS_SYSINDEXES',
 'MCS_PG_SEQUENCES',
 'STD_CODE_DIST_REQ',
 'MS_DB_SRC_LOG',
 'IMSI_OBJ_PROPERTY',
 'MCS_MY_COLUMNS',
 'MDQ_RSLT_DATA',
 'MS_UDP_CLS',
 'MA_SQL_NODE_OP',
 'MATRIX_TEMP',
 'TDAM_ATTR_OBJ',
 'TDAM_DB_OBJ',
 'MCS_SY_IQ_SYSINDEXES',
 'IMSI_MDB_GAP_OBJ_DTL',
 'MAQ_ISPT_ERROR',
 'MCS_ALT_DATABASE_LINKS',
 'MCS_ALT_PASSWORD_LIMITS',
 'MCS_ALT_COMPRESSION_TABLES',
 'DF_AREA_SYS_MAP',
 'MA_MIPLATFORM',
 'DAM_ORD',
 'STD_TERM_ANLY_RSLT',
 'DF_SYS_FLOW',
 'MCS_MSS_DATABASE_FILES',
 'MD_MDL_APRV_REQ_ENTTAB',
 'MET_LAUNCHER_LOG',
 'MCS_SY_IQ_SYSTABLE',
 'MCS_VT_FUNCTION_PARAMETERS',
 'MCS_SY_IQ_SYSCOLUMNS',
 'MCS_ALT_PACKAGE_PARAS',
 'STD_CD_VAL_REL',
 'MA_DIR',
 'MD_OBJ_ADDN',
 'MCS_DB2UDB_SYSINDEXES',
 'MCS_DB2UDB_SYSTABLES',
 'MCS_ALT_SYNONYMS',
 'MA_SQL_OBJ',
 'MD_LINK_LOGN',
 'MCS_PG_TYPE',
 'MS_TERM_HIST',
 'MDQ_BIZ_RULE',
 'DAM_STRU_ORD',
 'MCS_HBASE_COLUMNS',
 'MD_TEXT_INDICES',
 'DF_SYS',
 'MS_MDL_CONFIG',
 'TDAM_COLUMN_INSTANCE',
 'MET_SQL_CDN_EXP',
 'DAM_ATTR_OBJ',
 'MCS_VT_USER_FUNCTIONS',
 'DAM_MAN_VER',
 'MD_UDP_VAL',
 'MCS_ALT_LIBRARIES',
 'IMSI_MDB_MDL_VRFY_RSLT',
 'SQL_DEFAULT_POLICY_MAP',
 'DAM_SUBSET',
 'MCS_HBASE_INDEX',
 'MET_JOB_RN_LOG_PART',
 'MCS_PG_TABLES',
 'DAM_PROP_EXT_DATA',
 'DF_TYPE_CODE',
 'MCS_RS_ATTRIBUTE',
 'MDB_PRTTP_DDL_INF',
 'IMSI_DBLNK_JOB_REQ',
 'MDQ_IMSI_COL_DGNSS_ITEM_UPLOAD',
 'DAM_OBJ_META_DATA',
 'MCS_PG_STATIO_ALL_TABLES',
 'MD_MDL_GAB_INDEX',
 'MET_CLASS',
 'MCS_VT_VIEW_COLUMNS',
 'TMD_RVS_COLUMN',
 'MCS_ALT_TBS_USERS',
 'IMSI_MDL_DB_GAP_INFO',
 'MM_ENV',
 'STD_AREA_DA_MAP',
 'REQ_CHK_ITEM',
 'TDAM_ENT_OBJ',
 'MDB_DDL_VAR_HIST',
 'MAQ_ISPT_RSLT_HK',
 'MD_MDL_SYS_ATTR_DEF',
 'MCS_MSS_SYSDEPENDS',
 'STD_CODE_ADDN',
 'MCS_MSS_SYSTYPES',
 'MCS_ALT_V_PROPERTY',
 'MM_DOMAIN_GROUP',
 'MDQ_PROFILE_ERROR_ANALYZE',
 'MD_FEATURE_USE_STATISTICS',
 'MD_GAP_CLASS',
 'IMSI_STD_DIC_REQ',
 'SHARE_ENTITY_LIST',
 'MCS_DB2UDB_SYSSCHEMATA',
 'IMSI_MDQ_CTQ',
 'MS_CONFIG',
 'MCS_ALT_DUMMY',
 'MCS_VT_TEXT_INDICES',
 'IMSI_MDB_JOB_REQ_DDL',
 'MDQ_BIZ_RULE_COL',
 'DA_OPTIONS',
 'MD_ARG',
 'MDL_CHK_AREA',
 'MD_COL_ADDN_DEF',
 'TDAG_BLOB',
 'MAQ_ISPT',
 'IMSI_MD_UDP_REQ',
 'UI_LABEL_CNVT',
 'ENC_PROCEDURES',
 'TMD_OBJANAL',
 'MDB_OBJ_DDL',
 'IMSI_USR_USER_REG',
 'DAM_PHY_VIEW_INFO',
 'MDB_DDL_VAR',
 'MD_MDL_APRV_REQ',
 'ENC_PART_KEY_COLUMNS',
 'MET_JOB_RN_HST',
 'MD_MDL_GAB_INDEX_COL',
 'MD_COL_COMP',
 'MCS_DB2UDB_SYSTABCONST',
 'MD_LSNR',
 'MA_JOB_LOG_SUMMARY',
 'DF_NM_ACCT_MAP',
 'DF_GRP',
 'MA_SQL_NODE',
 'STD_DIC',
 'TDAM_ENT_DIVIDE_INFO',
 'MCS_ALT_COLUMNS',
 'MDB_OBJ_CDC',
 'DAM_UDP',
 'SEQ_TAB',
 'MET_JOB_TBL',
 'MD_MDL_STORAGEEX',
 'MD_JOB_HIST',
 'DAM_TGT_DB_MDL',
 'MCS_MSS_PARTITION_FUNCTIONS',
 'MCS_ALT_ENCRYPTED_COLUMNS',
 'MA_SQL_HINT',
 'MDQ_SURV_TRGT',
 'MS_TERM',
 'MDB_AREA_MAP',
 'TOBE_TBL_JOB_MAP',
 'STD_NAMING_RULE_VERF',
 'DAM_CLONE',
 'MDQ_SURV_INFO',
 'MCS_VT_PROJECTIONS',
 'DF_SYS_PROP',
 'SQL_TABLE_JOB_RS',
 'MDB_JOB_REQ',
 'MDB_ACCT_ROLE_MAP',
 'MSG_SIGN_RSLT',
 'SQL_MASKING_RULE',
 'MCS_ALT_PROC_PARSE',
 'MCS_PG_VIEWS',
 'MET_SQL_STRUCT',
 'ENC_TAB_COLUMNS',
 'MET_SQL_CONDITION',
 'SQL_PROXY_INST_MAP',
 'MY_TODO',
 'STD_EXPT_TAB',
 'MDB_DDL_SYNTX',
 'MCS_ALT_CONSTRAINT_COLUMNS',
 'MET_BIZ_AREA',
 'MDQ_SURV_BIZAREA',
 'MCS_DB2UDB_SYSTABLESPACES',
 'RM_OBJ_INF',
 'MDQ_MAPPING_BIZ_RULE_RSLT_DATA',
 'MA_ANAL_SVR',
 'ENC_DEPENDENCIES',
 'MCS_HBASE_VIEWS',
 'TDAM_CLONE',
 'SQL_CONN_HIST',
 'MCS_HBASE_SEQUENCE',
 'TMD_DF',
 'TMD_TS_STG_DTL',
 'MCS_DB2UDB_SYSINDEXCOLUSE',
 'IMSI_MDQ_PROFILE_ITEM',
 'ENC_SYNONYMS',
 'MD_MDL_GAB_ALLOC_ACCT',
 'SQL_USER_CONN_RULE',
 'MCS_SY_IQ_SYSFILE',
 'MCS_ALT_PART_INDICES',
 'MA_TDF_HDR',
 'MD_SVR',
 'SQL_INST_CONN',
 'TDAM_PROP_EXT_DEFI',
 'MCS_PG_ATTRDEF',
 'DF_MPPGDEF_FLOW',
 'MDQ_PROFILE_CODE_MAP',
 'DF_FLOW_PROP',
 'MDQ_STD_AREA',
 'TMD_REPRESOL_STATISTICS',
 'MET_VISUAL',
 'MD_OBJ_CHG_DTL',
 'STD_NAMING_RULE',
 'MCS_ALT_INDEX_RELATED',
 'STD_CODE_REL_USER',
 'MCS_SY_IQ_SYSCONSTRAINT',
 'MCS_ALT_TRIGGER_DML_TABLES',
 'MET_PROPERTIES',
 'MSG_LINE',
 'MCS_MY_TRIGGERS',
 'MCS_ALT_PACKAGES',
 'TMD_TEXT_INDICES',
 'MCS_VT_SEQUENCES',
 'MCS_ALT_MATERIALIZED_VIEWS',
 'MA_STATISTIC',
 'MD_MDL_APRV_REQ_ATRCOL',
 'MCS_MY_VIEWS',
 'MDB_DDL_STRU',
 'DAM_ENT_DIVIDE_INFO',
 'IMSI_MDL_GAP_INDEX',
 'RM_COL_INF',
 'TMD_SYNM',
 'MA_USER_CONFIG',
 'ENC_TAB_PARTITIONS',
 'MCS_ALT_PRIVILEGES',
 'MM_PERMISSION_STEP',
 'MDQ_TABLES_PART',
 'ENC_PART_INDEXES',
 'MA_SRC_OBJ',
 'MA_JOB_LOG',
 'IMSI_MDB_GAP_ATTR_DTL',
 'MDB_GAP_CLASS_PROPERTY_HIST',
 'MD_SEG_STG_DTL',
 'MCS_MSS_SQL_MODULES',
 'MDQ_CTQ',
 'STD_REQ_TERM_COMP',
 'MDB_INDEX_COL',
 'MCS_DB2UDB_SYSKEYCOLUSE',
 'MCS_MSS_DEFAULT_CONSTRAINTS',
 'MCS_MSS_ACCT',
 'MDB_INDEX_DB',
 'MCS_SY_SYSOBJECTS',
 'MS_DB_CONFIG',
 'TMD_VIEW',
 'MCS_SY_ASE_SYSCOLUMNS',
 'MD_DB',
 'TDAG_DRAWITEM',
 'MAQ_AQI',
 'IMSI_MD_MDL_CHG_TBL',
 'MOCA_ERR_LOG_SQL',
 'MDQ_SURV_ANSWR',
 'MD_CONST',
 'MET_JOB_PARAM_PART',
 'STD_WORD_COMBI',
 'IMSI_WORD_INFO',
 'TMD_PROJECTION',
 'STD_DOM_CONV_REQ_CONTENTS',
 'ENC_V$TEMP_EXTENT_POOL',
 'MDQ_JOB',
 'MS_TASK_INFO',
 'DAM_MAPPER',
 'MET_OBJECTS',
 'RM_VER_INF',
 'MOCA_SQL_INF',
 'ENC_SOURCE',
 'TDAG_PRSETLINK',
 'MCS_PG_INHERITS',
 'IMSI_MD_MDL_CHG_REQ_TBL',
 'MSG_STEP',
 'MDQ_IMSI_BATCH_CTQ_COL',
 'TMD_FEATURE_USE_STATISTICS',
 'MCS_MY_PARAMETERS',
 'MD_JOB_HIST_LOG',
 'STD_CODE_REFL_REQ',
 'MCS_ALT_V_MEMTBL_INFO',
 'MDB_GAP_CLASS_HIST',
 'IMSI_MDL_GAP_INDEX_COL',
 'MCS_ALT_INDEX_COLUMNS',
 'MM_LOCALE',
 'MET_JOB_MACRO',
 'TDAM_TX_HIST',
 'SQL_POLICY_SQL_TYPE',
 'MCS_SY_IQ_SYSIQJOININDEX',
 'MCS_ALT_TRIGGER_UPDATE_COLUMNS',
 'MCS_SY_SYSCOMMENTS',
 'MA_CMMT_ITEM',
 'MDQ_SURV_TMS',
 'MCS_PG_DESCRIPTION',
 'MDQ_INDCT_CLSFC_CRTR',
 'MD_OBJ',
 'TDAM_PHY_VIEW_INFO',
 'MCS_VT_SCHEMATA',
 'MCS_MY_TBL_CONSTRAINTS',
 'WK_HOUR',
 'MD_ACCT',
 'MD_MDL_APRV_REQ_PRTIDX',
 'TMD_DF_USG',
 'DAM_REL',
 'MET_SQL_CLAUSE',
 'TDAM_ORD',
 'IMSI_END_MNG_STD_DIC',
 'ENC_DB_LINKS',
 'DF_BIZAREA_PROP',
 'MA_FILE',
 'MCS_ALT_PART_LOBS',
 'MD_SVR_DIRECTORY',
 'MD_UDP_REQ_CONTENTS',
 'MCS_ALT_JOBS',
 'IMSI_BIZ_RULE_REQ',
 'MCS_MSS_SYSOBJECTS',
 'MCS_PG_USER',
 'IMSI_MDL_GAP_ATRCOL',
 'TDAM_PANE_SUB_OBJ',
 'MCS_ALT_V_INDEX',
 'MS_CFG_LST_VAL',
 'MDB_TBL_DDL_MAP',
 'MD_MDL_CHG_REQ_UDP',
 'MD_DBMS_OBJ_TYPE_DEF',
 'ITF_REQ_TABLE',
 'IMSI_CD_INST_INFO',
 'MD_MDL_GAB_OBJ_DDL',
 'MD_MDL_GAP_ENTTAB',
 'MM_INFO_TYPE_MAPPING',
 'MDB_DBLINK_REQ',
 'MCS_MSS_SYSCOLUMNS',
 'MD_MDL_COL_VALIDRULE',
 'USR_LOGIN_HIST',
 'DAM_PHY_OBJ_DB_INFO',
 'CONCEPT_LOGICAL_MAP',
 'TDAM_DMN',
 'MA_CMS_REL',
 'TMD_TS',
 'TDAG_CNVAS',
 'MD_MNG_MODEL',
 'DF_SYS_GRP',
 'MCS_SY_ASE_SYSREFERENCES',
 'TMD_COL_COMP',
 'MD_TAB_RTN',
 'MCS_ALT_REPL_OFFLINE_DIR',
 'MDB_OBJ_DDL_HIST',
 'STD_EXPT_COL',
 'MCS_SY_SYSLOGINS',
 'TDAM_OBJ_META_DATA',
 'MET_OBJ_PRPT',
 'SQL_PROXY',
 'MCS_DB2UDB_SYSCOLUMNS',
 'STD_CD_MD_COL_MAP',
 'TMD_HIWATERMARK_STATISTICS',
 'MCS_ALT_AUDIT_ALL_OPTS',
 'MCS_MY_COLLATIONS',
 'MDB_OBJ_GRANT',
 'MCS_MY_STATISTICS',
 'MDQ_IMSI_BR_LAST',
 'MCS_SY_ASE_SYSTYPES',
 'MET_BIZ_CLM',
 'IMSI_MDL_GAP_ENTTAB',
 'MA_LOGIC',
 'DAM_ENT_ATTR_REL',
 'USR_STRU_LOCK',
 'MCS_SY_ASE_SYSINDEXES',
 'DAM_MDL_LOG',
 'MA_CALL_NODE',
 'MDB_INDEX_MDL',
 'MM_DOMAIN_INST',
 'TDAM_MAN_DEL',
 'DF_COLL_FLOW',
 'MD_SEQ',
 'MD_OBJ_PART',
 'TMD_PROC',
 'MCS_ALT_V_UDSEGS',
 'MCS_PG_AUTHID',
 'DF_SYS_COLL_JOB_CLS',
 'MDQ_OBJ',
 'STD_REQUEST_INF',
 'MCS_ALT_DN_USERS',
 'MD_MDL_APRV_REQ_ADDTN',
 'MAQ_ISPT_FNL_RSLT',
 'TDAG_GRPLINK',
 'MCS_PG_TRIGGER',
 'ENC_TEMP_FILES',
 'MDQ_TABLES',
 'STD_CD_AREA',
 'IMSI_MDQ_PROFILE_TYPE',
 'MDB_GAP_CLASS',
 'MET_JOB',
 'MCS_RS_CLASS_INFO',
 'MDQ_COPY_T',
 'MCS_VT_VIEW_TABLES',
 'MCS_MSS_SYSUSERS',
 'DF_REQ_OBJ',
 'SMPL_SR_REQ_TABLE',
 'MM_INFO_TYPE',
 'ENC_TRIGGERS',
 'MD_DEP',
 'TDAM_KEYGROUP',
 'DF_MPPGDEF_APRV_PROP',
 'MET_JOB_CLM',
 'DF_COLL_JOB_RN_HST',
 'MOCA_WORK_INF',
 'MCS_MSS_SYSCONFIGURES',
 'MCS_SY_IQ_SYSPROCPARMS',
 'MCS_ALT_INDICES',
 'MDQ_BIZ_RULE_SQL',
 'MCS_ALT_DATA_PORTS',
 'MA_LIBDIC',
 'TMD_MVIEW_DTL_REL',
 'MDQ_DBMS',
 'DAM_USER_DEFI',
 'STD_DOM_TYPE_TRANF',
 'MET_CLS_PRPT',
 'MCS_ALT_AUDIT',
 'MD_SEG',
 'MD_ENTITY_OWNER',
 'MOCA_WORK_STEP',
 'MA_CONTENT',
 'MDB_OBJ_DDL_ADDN',
 'MCS_VT_COLUMNS',
 'MDB_TBL_MAP',
 'USR_CODE',
 'MCS_AGENT_INF',
 'MS_OBJ_REL',
 'MD_MVIEW_DTL_REL',
 'DAM_COLUMN_INSTANCE',
 'STAT_CONF',
 'MD_UDP_DEF',
 'TDAM_VALID',
 'MD_MDL_CHG_REQ_TBL',
 'MD_GAP_CLASS_BAK',
 'TDAM_PANE',
 'MCS_SY_IQ_SYSIQJOINIXCOLUMN',
 'MCS_PG_PROC',
 'MDQ_BR_REQ',
 'MDQ_JOB_FLOW_LOG',
 'MDQ_BIZAREA_ADDN',
 'ITF_REQ_COLUMN',
 'SQL_USER_MAP',
 'MCS_SY_SYSCONSTRAINTS',
 'MD_UDP_GRP',
 'MCS_ALT_V_USAGE',
 'MDQ_DQI_LNG_MAP',
 'MCS_ALT_REPL_OLD_ITEMS',
 'MDQ_EXCLUDE_INDCT_CLSFC_ITEM',
 'ENC_TABLESPACES',
 'MDL_UDP_SRCH_TRGT',
 'IMSI_MD_MDL_CHG_REQ_COL',
 'MA_MATRIX_FLASH',
 'DAM_TABLESPACE_DATA',
 'MCS_MSS_SYSINDEXKEYS',
 'MD_PATCH_DTL',
 'TMD_PARAM',
 'MCS_MY_TABLESPACES',
 'TDAM_REL',
 'MCS_MSS_SYSREFERENCES',
 'IMSI_MDB_ACCT_JOB_REQ',
 'MDB_DDL_STRU_HIST',
 'USR_USER_APPLICATION',
 'MCS_ALT_DATABASE',
 'TMD_DATABASE_VERSION',
 'MA_APP_AREA',
 'MDB_GAP_CLASS_BAK',
 'MDQ_IMSI_BR_ARC',
 'MCS_ALT_GRANT_OBJECT',
 'DF_OBJ',
 'DAG_DRAWITEM',
 'STD_DOM_GRP',
 'MSG_ATTACH',
 'MD_OBJECT_STATISTICS',
 'MD_MDL_REQ',
 'MD_TRG',
 'TMP_LONGTOVARCHAR',
 'MDB_GAP_DATA_TYPE_RULE_BASE_HIST',
 'MD_MVIEW_LOG',
 'MCS_ALT_VIEWS',
 'TMD_OBJ',
 'IMSI_CMPLX_ANLY',
 'TDAM_TERM',
 'DAM_VALID',
 'DF_FLOW',
 'MCS_MSS_SYSSERVERS',
 'MCS_MY_SCHEMATA',
 'MDQ_IMSI_COL_DGNSS_ITEM_MAP',
 'MA_INC',
 'MDQ_BIZAREA',
 'DAM_PANE_SUB_OBJ',
 'MCS_MSS_SYSCONSTRAINTS',
 'MS_DSBD_INF',
 'MS_TASK_RSLT',
 'MA_OBJ_REL',
 'SQL_HASH',
 'ENC_INDEXES',
 'SQL_INST',
 'MCS_ALT_PROC_PARAS',
 'DM_COL',
 'MA_APP_MAP_REL',
 'DF_OBJ_PROP',
 'MS_CFG_CLS',
 'MCS_ALT_VIEWS_RELATED',
 'MDL_CHK_RSLT',
 'MM_USER_LOGIN_FAIL_INFO',
 'COMMON_TEMP_TABLE',
 'STD_REQ_CD_VAL',
 'MCS_ALT_V_TSSEGS',
 'REP_OWNER_INFO',
 'MDQ_IMSI_BR_SERIAL',
 'MCS_SY_SYSUSERS',
 'MD_PARAM',
 'DAM_KEYGROUP',
 'DF_TYPE_CODE_NM',
 'SQL_POLICY',
 'REQ_CHK_ITEM_VAR',
 'MD_LOGICANAL',
 'TDAM_SYSTEM_COLUMN',
 'MCS_SY_ASE_SYSUSAGES',
 'DF_MPPGGRP',
 'MCS_MSS_INDEXES',
 'MCS_DB2UDB_SYSSEQUENCES',
 'MCS_ALT_PACKAGE_PARSE',
 'MDQ_ADDN_EXEC_INF',
 'TDAM_CLUSTER_COL_INFO',
 'MCS_ALT_PACKAGE_RELATED',
 'STD_SQL',
 'TMD_LINK',
 'DF_REQ_FLOW',
 'MDL_CHK_ITEM_HIST',
 'MCS_PG_ATTRIBUTE',
 'MDB_ACCT_GRANT_INFO',
 'TDAM_MDL_INFO',
 'MSG_SIGN_RSLT_DTL',
 'MA_MYMAC_PGM_INFO',
 'MCS_SY_IQ_SYSINFO',
 'IMSI_MDQ_TABLES',
 'MDQ_COL_DGNSS_ITEM_MAP',
 'MET_CONNECTIONS',
 'DF_MPPGDEF_OBJ',
 'MD_INST',
 'MD_MDL_CHG_REQ_COL',
 'MCS_VT_COMMENTS',
 'ENC_DATA_FILES',
 'MDQ_SURV_ITEM',
 'MDL_AUTH_REQ_CONTENTS',
 'MCS_ALT_XA_HEURISTIC_TRANS',
 'TDAG_ZORDER',
 'TMD_SRC',
 'STD_CODE_PROPERTY',
 'IMSI_MDB_ACCT_GRANT_JOB_REQ',
 'MCS_VT_PROJECTION_COLUMNS',
 'MCS_ALT_V_DATATYPE',
 'MDB_MDL_MAP',
 'MDB_GAP_OBJ_DTL',
 'STD_WORDS',
 'DF_BIZAREA',
 'MAQ_RULESET_RULE',
 'MCS_SY_ASE_SYSDEVICES',
 'DAM_MAN_OBJ',
 'MCS_ALT_REPLICATIONS',
 'MCS_PG_SETTINGS',
 'DAM_MDL_INFO',
 'MCS_SY_IQ_SYSCHECK',
 'MDQ_BR_ERROR_ANALYZE',
 'USR_USER_ABSENCE',
 'MDB_DDL_SYNTX_DBMS',
 'STAT_MDL_STD_RATE',
 'TDAM_DERIVED_INFO',
 'STD_DETAIL_RULE',
 'STD_REQ_CONTENTS',
 'MD_MNG_BR',
 'MDB_ACCT_ROLE',
 'MDB_ACCT_STAT',
 'MD_SYNM',
 'STD_EXT_QUERY',
 'TMD_OBJECT_STATISTICS',
 'MCS_ALT_CONSTRAINTS',
 'MCS_ALT_GRANT_SYSTEM',
 'TDAM_PHY_OBJ_DB_INFO',
 'MCS_ALT_USER_ROLES',
 'MD_MDL_GAP_PRTIDX',
 'MCS_ALT_REPL_HOSTS',
 'MA_CMMT_INFO',
 'MCS_ALT_REPL_OLD_INDICES',
 'MET_LAUNCHER_MEM_LOG',
 'MSG_LINE_USER',
 'MAQ_UNITTEST_RSLT_HK',
 'MA_PREPERENCE_FILTER',
 'MDQ_JOB_LOG_DTL']

In [73]:
if 'USR_USR_ALERT' in not_in_asis_entity :
  print('asis에는 포함되지 않은 테이블명')

In [68]:
filter_rev

            원본엔터티명           테이블명        원본속성명  ... NotNull 표준화           설명
0        mm_notice      mm_notice   noticetype  ...       Y  상속   noticetype
1        mm_notice      mm_notice     noticeid  ...       Y  상속     noticeid
2        mm_notice      mm_notice        title  ...       Y  상속        title
3        mm_notice      mm_notice    noticetxt  ...       Y  상속    noticetxt
4        mm_notice      mm_notice    startdate  ...     NaN  상속    startdate
..             ...            ...          ...  ...     ...  ..          ...
137  mm_login_hist  mm_login_hist     login_dt  ...       Y  상속     login_dt
138  mm_login_hist  mm_login_hist    logout_dt  ...     NaN  상속    logout_dt
139  mm_login_hist  mm_login_hist  remote_host  ...     NaN  상속  remote_host
140  mm_login_hist  mm_login_hist    remote_ip  ...     NaN  상속    remote_ip
141  mm_login_hist  mm_login_hist   login_rslt  ...     NaN  상속   login_rslt

[142 rows x 14 columns]

In [75]:
len(filter_rev.columns)

14

In [81]:
filter_rev['속성명'][0]

'noticetype'

In [87]:
filter_rev.to_excel('/gdrive/MyDrive/Colab Notebooks/현행화_공통_중복.xlsx', index=False)

In [88]:
filter_rev.columns

Index(['원본엔터티명', '테이블명', '원본속성명', '속성명', '컬럼명', '보조명', '데이터타입', '길이', '소수점',
       '본질식별자', '실질식별자', 'NotNull', '표준화', '설명'],
      dtype='object')

In [91]:
col_name = filter_rev.columns
for i in range(len(filter_rev.index)) :
  for j in range (len(filter_rev.columns)) :
    this_colname = col_name[j]
    # if filter_rev[this_colname][i].isalpha() :
    filter_rev['원본엔터티명'][i] = filter_rev['원본엔터티명'][i].upper()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 두개의 유니크한 테이블 명의 교집합을 찾는다
intersection = list(set(asis_col) & set(rev_col))
print( intersection )
print(len(intersection))

['STD_REQ_CONTENTS', 'MM_NOTICE_FILE', 'MSG_LINE', 'RM_COL_INF', 'MD_COL', 'MM_CODE', 'MM_NOTICE', 'MS_CODE', 'MM_LOGIN_HIST', 'USR_DEPT', 'STD_CODE', 'MD_OBJ', 'MMMASTER', 'MS_MSG', 'MSG_TARGET', 'USER_OBJ_MAP', 'STD_CD_VAL', 'MM_MAPBIZOBJ', 'REQ_DOC_INFO', 'MS_LOCALE', 'COPY_T', 'MMLICENSE', 'MSG_ATTACH', 'RM_OBJ_INF', 'MSG_SIGN_RSLT_DTL', 'MS_TERM', 'MD_INST', 'MSG_SIGN_RSLT', 'MSG_STEP']
29

In [212]:
asis_col

['COPY_T',
 '표준분류체계',
 '모델영역',
 'USR_ROLE_PRIV',
 'USR_USR_ALERT',
 'USR_ALLOC',
 'USR_MENUGRP',
 'USR_USER',
 'MM_MAPBIZOBJ',
 'USR_GROUP_MEMBER',
 'MM_ATTACH_FILE',
 'USR_RCV_EVENT',
 'MMLICENSE',
 'USR_ROLE',
 'USR_DEPT',
 'Part',
 'USR_JOB_EVENT',
 'USR_SCR_OBJ',
 '응용분류체계',
 'DQ업무영역',
 'USR_DAILY_ALERT',
 '물리테이블',
 'MMMASTER',
 'USR_GROUP',
 'MM_CODE',
 'MM_NOTICE',
 'USR_PRIV',
 'USER_OBJ_MAP',
 'USR_MENU',
 'MM_BIZ_AREA',
 'USR_EVENT',
 'MM_NOTICE_FILE',
 '작업',
 'USR_USAGE_LOG',
 'MM_LOGIN_HIST',
 'USR_PRIV_SCR_OBJ',
 nan]

In [214]:
rev_col = rev['테이블명'].unique().tolist()

In [215]:
# 기존의 AS_IS 에서 없어진 테이블 리스트 출력
outersection = list(set(asis_col) - set(rev_col))
print( outersection )
print(len(outersection))

[nan, 'MM_MAPBIZOBJ', 'USER_OBJ_MAP', 'MM_NOTICE_FILE', '모델영역', 'USR_JOB_EVENT', 'USR_GROUP', '물리테이블', 'Part', 'USR_USR_ALERT', '응용분류체계', 'USR_PRIV', '작업', 'USR_EVENT', 'USR_MENUGRP', 'DQ업무영역', 'MM_LOGIN_HIST', 'USR_USER', 'MMMASTER', 'USR_PRIV_SCR_OBJ', 'USR_ROLE_PRIV', 'MM_CODE', 'USR_USAGE_LOG', '표준분류체계', 'USR_MENU', 'MMLICENSE', 'USR_RCV_EVENT', 'USR_DEPT', 'USR_ROLE', 'COPY_T', 'MM_NOTICE', 'USR_SCR_OBJ', 'USR_ALLOC', 'MM_BIZ_AREA', 'USR_GROUP_MEMBER', 'MM_ATTACH_FILE', 'USR_DAILY_ALERT']
37

In [ ]:
# asis 공통영역에 해당하는 테이블명 리스트에 해당하는 리버스 테이블명이 있으면 filter_rev에 저장.
for i in range(len(rev.index)) :
  if rev['테이블명'][i].upper() in asis_col:
    filter_rev = pd.concat([filter_rev, rev[i:i+1]], ignore_index=True)

  filter_rev

In [ ]:
filter_rev

          테이블명          속성명      엔터티명          컬럼명  ...  암호화방법  Level  컬럼 순서 컬럼 표준화
0       copy_t           no    copy_t           no  ...    NaN    NaN      1      0
1       copy_t          no2    copy_t          no2  ...    NaN    NaN      2      0
2       md_col     오브젝트_아이디    md_col       obj_id  ...    NaN    NaN      1      0
3       md_col       컬럼_아이디    md_col       col_id  ...    NaN    NaN      2      0
4       md_col      유효_종료일자    md_col  aval_end_dt  ...    NaN    NaN      3      0
...        ...          ...       ...          ...  ...    ...    ...    ...    ...
1421  usr_dept  last_chg_dt  usr_dept  last_chg_dt  ...    NaN    NaN      5      0
1422  usr_dept    org_order  usr_dept    org_order  ...    NaN    NaN      6      0
1423  usr_dept  dept_tel_no  usr_dept  dept_tel_no  ...    NaN    NaN      7      0
1424  usr_dept  dept_fax_no  usr_dept  dept_fax_no  ...    NaN    NaN      8      0
1425  usr_dept       del_yn  usr_dept       del_yn  ...    NaN    NaN      9      0

[1426 rows x 22 columns]

In [ ]:
filter_rev.shape

(713, 22)

In [ ]:
asis.shape

(915, 22)

In [ ]:
# 삭제된 정보가 202개나 된다?
#검증

filter_table_col = filter_rev['테이블명'].unique().tolist()
filter_table_col

['copy_t',
 'md_col',
 'md_inst',
 'md_obj',
 'mm_code',
 'mm_login_hist',
 'mm_mapbizobj',
 'mm_notice',
 'mm_notice_file',
 'mmlicense',
 'mmmaster',
 'ms_code',
 'ms_locale',
 'ms_msg',
 'ms_term',
 'msg_attach',
 'msg_line',
 'msg_sign_rslt',
 'msg_sign_rslt_dtl',
 'msg_step',
 'msg_target',
 'req_doc_info',
 'rm_col_inf',
 'rm_obj_inf',
 'std_cd_val',
 'std_code',
 'std_req_contents',
 'user_obj_map',
 'usr_dept']

# 리버스 필터링 작업

In [188]:
asis_name = '공통기본'
file_asis = '/gdrive/MyDrive/Colab Notebooks/[ASIS]/{}.xlsx'.format(asis_name)
asis = pd.read_excel(file_asis)

# asis의 unique한 테이블명을 list로 저장
asis_col = asis['테이블명'].unique().tolist()
asis_col

['COPY_T',
 '표준분류체계',
 '모델영역',
 'USR_ROLE_PRIV',
 'USR_USR_ALERT',
 'USR_ALLOC',
 'USR_MENUGRP',
 'USR_USER',
 'MM_MAPBIZOBJ',
 'USR_GROUP_MEMBER',
 'MM_ATTACH_FILE',
 'USR_RCV_EVENT',
 'MMLICENSE',
 'USR_ROLE',
 'USR_DEPT',
 'Part',
 'USR_JOB_EVENT',
 'USR_SCR_OBJ',
 '응용분류체계',
 'DQ업무영역',
 'USR_DAILY_ALERT',
 '물리테이블',
 'MMMASTER',
 'USR_GROUP',
 'MM_CODE',
 'MM_NOTICE',
 'USR_PRIV',
 'USER_OBJ_MAP',
 'USR_MENU',
 'MM_BIZ_AREA',
 'USR_EVENT',
 'MM_NOTICE_FILE',
 '작업',
 'USR_USAGE_LOG',
 'MM_LOGIN_HIST',
 'USR_PRIV_SCR_OBJ',
 nan]

In [189]:
asis_col = asis_col[2:]
asis_col.append('DA_ENTITY')
asis_col

['모델영역',
 'USR_ROLE_PRIV',
 'USR_USR_ALERT',
 'USR_ALLOC',
 'USR_MENUGRP',
 'USR_USER',
 'MM_MAPBIZOBJ',
 'USR_GROUP_MEMBER',
 'MM_ATTACH_FILE',
 'USR_RCV_EVENT',
 'MMLICENSE',
 'USR_ROLE',
 'USR_DEPT',
 'Part',
 'USR_JOB_EVENT',
 'USR_SCR_OBJ',
 '응용분류체계',
 'DQ업무영역',
 'USR_DAILY_ALERT',
 '물리테이블',
 'MMMASTER',
 'USR_GROUP',
 'MM_CODE',
 'MM_NOTICE',
 'USR_PRIV',
 'USER_OBJ_MAP',
 'USR_MENU',
 'MM_BIZ_AREA',
 'USR_EVENT',
 'MM_NOTICE_FILE',
 '작업',
 'USR_USAGE_LOG',
 'MM_LOGIN_HIST',
 'USR_PRIV_SCR_OBJ',
 nan,
 'DA_ENTITY']

In [190]:
# 공통영역에 해당하는 리버스 데이터를 거르기 위한 작업
# filte_rev에 공통영역에 해당하는 리버스 데이터를 넣음. 스키마만 따기 위한 작업
filter_rev = pd.DataFrame(rev[rev['테이블명'] == ''])
filter_rev

Empty DataFrame
Columns: [원본엔터티명, 테이블명, 원본속성명, 속성명, 컬럼명, 보조명, 데이터타입, 길이, 소수점, 본질식별자, 실질식별자, NotNull, 표준화, 설명]
Index: []

In [191]:
# for문
# filte_rev 에 공통영역에 해당하는 리버스 데이터를 넣음.
not_in_asis_entity = [] #-> ASIS에 포함되지 않는 리버스의 컬럼명들 unique 한 값만 모을 예정
for i in range(len(rev.index)) :
  rev_uppers = rev['테이블명'][i].upper()
  if rev_uppers in asis_col:
    filter_rev = pd.concat([filter_rev, rev[i:i+1]], ignore_index=True)
  else :
    if rev_uppers not in not_in_asis_entity:
      not_in_asis_entity.append(rev_uppers)

In [211]:
not_in_asis_entity

['TDAG_MAN_DEL',
 'MCS_SY_IQ_SYSINDEX',
 'MDQ_FILE_LOG',
 'DF_DBLINK_INST_MAP',
 'MD_MDL_GAP_ATRCOL',
 'TDAM_TGT_DB_MDL',
 'TDAM_SUBSET',
 'MDQ_CALENDAR_T',
 'MET_STP_SQL_HST',
 'MA_REL_SQL',
 'MDQ_DQI',
 'MAQ_ISPT_FILE_RULE',
 'TMD_OBJ_CHG_DTL',
 'MDB_ACCT_GRANT_HIST',
 'TMD_CONST',
 'TMD_SEG',
 'ENC_MVIEW_DETAIL_RELATIONS',
 'ENC_V$PARAMETER',
 'MCS_PG_INFO_SCHEMA_COLUMNS',
 'MD_OBJANAL',
 'MCS_ALT_V_VERSION',
 'DF_AREA_USR_MAP',
 'MET_CONN_LIST',
 'TDAM_STRU_ORD',
 'MCS_USER_JOB_GRP',
 'TMD_RVS_TABLE',
 'MM_LOCALE_MESSAGE',
 'IMSI_USR_DEPT_REG',
 'MA_CBL_CMD_DTL',
 'ENC_CONS_COLUMNS',
 'MDB_ATTR_PROPERTY',
 'MCS_HBASE_FUNCS',
 'MDQ_PROFILE_RSLT',
 'USR_MENU_HIST',
 'MET_JOB_RN_LOG',
 'MCS_ALT_COMMENTS',
 'MAQ_RULE_AQI',
 'STD_TERMS_ATTR_MAP',
 'MD_GAP_CLASS_DBMS',
 'STD_REQ_CD_MD_COL_MAP',
 'IMSI_MDQ_JOB_DTL',
 'DF_GRP_OBJ_MAP',
 'MD_COL',
 'DF_SYS_SYNONYM',
 'MCS_ALT_TRIGGERS',
 'MCS_SY_SYSREMOTELOGINS',
 'IMSI_CODE_INST_MAPPING',
 'TMD_LOGICANAL',
 'MD_DF_USG',
 'MA_TDF_BODY',
 'MD_MDL_CONST',
 'MCS_SY_IQ_SYSIQFILE',
 'MA_APPACCT_MAP',
 'MA_FILE_ACTION',
 'TMD_SEG_STG_DTL',
 'STD_DATATYPE_CONV',
 'MCS_ALT_USERS',
 'STD_DIC_REL',
 'MD_OBJ_REL',
 'TTMD_TRG',
 'MDQ_MAPPING_RSLT_DATA',
 'MDQ_COLS',
 'TDAM_USER_DEFI',
 'STD_CD_VAL_LOCALE',
 'ABB_COMP_03',
 'TMP_USR_DEPT',
 'STD_CODE_LOCALE',
 'MCS_JDBC_MAP',
 'MDB_GAP_ANL_TRGT',
 'MCS_PG_CONSTRAINT',
 'MDQ_IMSI_INDCT_CLSFC_CRTR',
 'DA_CODE',
 'MCS_ALT_PASSWORD_HISTORY',
 'MA_SQL_SUBSQL',
 'MCS_MSS_SEQUENCES',
 'MCS_SY_IQ_PARAM',
 'MA_CMS_REL_DETAIL',
 'STD_CODE',
 'MAQ_SQL',
 'MCS_SY_IQ_SYSIQINFO',
 'MDQ_IMSI_DGNSS_TBL_UPLOAD',
 'MM_DOMAIN',
 'ENC_FREE_SPACE',
 'TMD_COL_STATISTICS',
 'MDQ_BIZ_RULE_ERR_CNT',
 'TDAM_ROLE_NM_INFO',
 'MDB_GAP_ATTR_DTL',
 'DA_TERM',
 'MD_JOB_SCHD',
 'DAM_OBJ_CLOB_INFO',
 'MD_GAP_EXCLUDED_TABLES',
 'MCS_PG_COLUMNS',
 'MCS_MSS_CHECK_CONSTRAINTS',
 'MA_FILE_DESC',
 'MD_PROJECTION_COL',
 'TDAM_OBJ_CLOB_INFO',
 'TMD_DB',
 'STD_CHK_RSLT',
 'MDQ_CD_TBL_INF',
 'IMSI_STD_DOM_CONV',
 'IMSI_STD_DIC_REQ_LISTCD_VAL',
 'MDQ_SIGMA',
 'DM_TBL',
 'MCS_MSS_TEMPTABLES',
 'TMD_COL',
 'MCS_SY_SYSSERVERS',
 'DAM_SYSTEM_COLUMN',
 'MCS_MSS_TABLES',
 'HOLIDAY',
 'MCS_ALT_REPL_RECOVERY_INFOS',
 'MDQ_PROFILE_SQL',
 'USR_CODE_HIST',
 'MCS_MSS_ALLOCATION_UNITS',
 'TMD_PROJECTION_COL',
 'ENC_PART_TABLES',
 'MCS_PG_NAMESPACE',
 'STD_CD_VAL',
 'MSG_TARGET',
 'ENC_IND_PARTITIONS',
 'TMD_CPU_USE_STATISTICS',
 'DAM_MDL_CONTAINER',
 'IMSI_MDQ_JOB',
 'MCS_MSS_SYSCURCONFIGS',
 'TDAM_VALID_VALUE',
 'DAG_CNVAS',
 'MD_COL_ADDN',
 'ENC_SEGMENTS',
 'TDAM_PROP_EXT_DATA',
 'MDQ_JOB_DTL',
 'ENC_TABLES',
 'DAM_OBJ_EXT_INFO',
 'MCS_PG_TABLESPACE',
 'MD_JOB',
 'TDAG_SYNCLINK',
 'SQL_TABLE_JOB',
 'MCS_ALT_RECYCLEBIN',
 'ENC_TAB_COMMENTS',
 'ENC_USERS',
 'TMD_SEQ',
 'MCS_SY_IQ_SYSIXCOL',
 'STD_CD_COL_MAP',
 'MCS_MSS_SERVER_PRINCIPALS',
 'MDQ_IMSI_BR_RI',
 'ABB_COMP_01',
 'DAM_DERIVED_INFO',
 'MDQ_PROFILE_ITEM',
 'MDB_ACCT_GRANT_JOB_REQ',
 'MCS_MSS_SRC',
 'MD_MDL_OBJ_PROPERTY',
 'ENC_SEGMENT_STATISTICS',
 'SMPL_SR_REQ_INFO',
 'DAM_DERIVED_ATTRDATA',
 'ENC_SEQUENCES',
 'MCS_SY_ASE_SYSDEPENDS',
 'MCS_ALT_TRIGGER_STRINGS',
 'MET_JOB_PARAM',
 'MA_SQL_CLAUSE',
 'MD_ANAL_LOG',
 'MD_PROJECTION',
 'MDB_ACCT_USE_INFO',
 'MDQ_DGNSS_TABLES',
 'DAG_GRPLINK',
 'TDAM_COLUMN_PARTI_ITEMRANGE',
 'MCS_PG_INFO_SCHEMA_SEQUENCES',
 'TMD_ACCT',
 'MDQ_PROFILING',
 'DAM_TERM',
 'TDAM_MAPPER',
 'MCS_HBASE_COLUMNFAMILY',
 'MS_APRV_ERR_LOG',
 'MA_APP_AREA_DETAIL',
 'MCS_DB2UDB_SYSTRIGGERS',
 'MET_STP_RN_HST_PART',
 'MCS_MSS_EXTENDED_PROPERTIES',
 'REQ_DOC_INFO',
 'IMSI_MD_MDL_CHG_COL',
 'MCS_HBASE_TABLES',
 'MOCA_BIND_VAR',
 'IMSI_MD_MDL_CHG_REQ_UDP',
 'TMD_MVIEW',
 'DAM_ALGN_MAP',
 'MCS_ALT_TABLE_SIZE',
 'MA_UNKNOWN',
 'MCS_MSS_PARTITIONS',
 'STD_DOM_CONV',
 'ENC_ARGUMENTS',
 'STD_BAN',
 'TDAM_TABLESPACE_DATA',
 'MCS_SY_ASE_SYSCONFIGURES',
 'MCS_MSS_INDEX_COLUMNS',
 'STD_DATATYPE',
 'MDQ_JOB_LOG',
 'DF_COLL_JOB',
 'T_REQUEST',
 'MCS_PG_DEPEND',
 'MD_MVIEW',
 'ENC_PRDT_CMPNT_VERSION',
 'MD_UDP_CLSS',
 'STD_AREA',
 'MD_PROC',
 'MCS_ALT_TABLE_PARTITIONS',
 'MDB_OBJ_PROPERTY',
 'ENC_IND_COLUMNS',
 'MCS_MSS_COLUMNS',
 'MD_CPU_USE_STATISTICS',
 'MCS_MSS_TEMPSRC',
 'TMP_ALL_REQ_INFO',
 'MAQ_SQLINFO',
 'ENC_SNAPSHOT_LOGS',
 'MCS_DB2UDB_VIEWS',
 'MS_CODE_HIST',
 'DAM_DB_OBJ',
 'MCS_ALT_V_TABLESPACES',
 'MCS_ALT_PART_TABLES',
 'MD_OBJ_ADDN_DEF',
 'MDQ_DGNSS_COLS',
 'MCS_ALT_V_SEQ',
 'MCS_PG_INDEX',
 'MCS_MSS_OBJECTS',
 'MD_REPRESOL_STATISTICS',
 'MCS_MSS_SYSREMOTELOGINS',
 'MCS_PG_CLASS',
 'MD_ISSU_DTL',
 'MAQ_ISPT_FILE',
 'MDB_INDEX_OBJ_COL',
 'DAM_COLUMN_PARTI_ITEMRANGE',
 'DF_COLL_SYS',
 'DAG_SYNCLINK',
 'ENC_COL_COMMENTS',
 'MA_USE_OBJ_MAP',
 'MS_STD_CONFIG',
 'MCS_MSS_DATABASE_PRINCIPALS',
 'MDQ_DGNSS_PTTRN',
 'MCS_SY_IQ_SYSFOREIGNKEY',
 'REQ_CHK_ITEM_HIST',
 'DAM_PANE',
 'DA_LOCALE',
 'MA_NODE',
 'DF_MPPGDEF_GRP',
 'MCS_ALT_LOBS',
 'IMSI_CODE_DIST_REQ',
 'MDQ_BIZ_RULE_RSLT',
 'MS_LOCALE',
 'DAG_PRSETLINK',
 'MET_BIZ_TBL',
 'MD_MDL_STORAGE',
 'MCS_ALT_V_DATAFILES',
 'TDAM_UDP',
 'MDB_MDL_CHG_DDL',
 'DAM_VALID_VALUE',
 'MCS_HBASE_SCHEMA',
 'MDQ_JOB_FLOW',
 'MCS_VT_TABLES',
 'ENC_TAB_SUBPARTITIONS',
 'MD_MNG_APPAREA',
 'MD_MDL_SYSTEM_ATTRIBUTE',
 'MS_MSG',
 'MCS_ALT_PART_KEY_COLUMNS',
 'USR_TERM',
 'MCS_SY_ASE_SYSCURCONFIGS',
 'MOCA_VAR_DEF',
 'MCS_ALT_VIEWS_PARSE',
 'DF_REQ_MPPGGRP',
 'MDQ_BIZ_RULE_RSLT_DATA',
 'MD_LINK',
 'MDQ_CTQ_COL',
 'DAG_ZORDER',
 'SMPL_SR_REQ_COLUMN',
 'SQL_POLICY_TAB_COL',
 'MCS_ALT_V_MEM_TABLESPACES',
 'TMD_TRG',
 'MCS_VT_TABLE_CONSTRAINTS',
 'MDQ_BR_CTQ',
 'MCS_SY_ASE_SYSPARTITIONS',
 'MS_CODE',
 'MET_STP_SQL_HST_PART',
 'MCS_VT_USER_PROCEDURES',
 'DAM_DMN',
 'DM_TBL_OPT',
 'TMD_SQLANAL',
 'TDAM_ENT_ATTR_REL',
 'MCS_ALT_REPL_OLD_INDEX_COLUMNS',
 'MAQ_ISPT_RULE',
 'MDB_INDEX_DDL',
 'ENC_CONSTRAINTS',
 'TDAG_CELLBORDER',
 'REQ_CHK_ITEM_VAR_HIST',
 'TMD_DF_ALLOC',
 'SQL_QUERY_LOG',
 'TMD_DEP',
 'ENC_OBJECTS',
 'MD_SVR_IP',
 'STD_DIC_DATA',
 'MET_LAUNCHER_STATUS',
 'MCS_PG_LANGUAGE',
 'DAM_CLUSTER_COL_INFO',
 'ENC_VIEWS',
 'MD_SQLANAL',
 'MCS_ALT_REPL_ITEMS',
 'MD_COL_STATISTICS',
 'MD_GAP_CLASS_HIST',
 'MD_DF',
 'MAQ_RULE',
 'MAQ_RULESET',
 'MET_PRPT_LIST',
 'MDB_INDEX_JOB',
 'LOCK_MDL_LIST',
 'IMSI_MDB_JOB_REQ',
 'MCS_MY_KEY_COLUMN_USAGE',
 'MS_ERR_LOG',
 'MCS_RS_TBL_PERM',
 'MD_CHG_MNG_COL',
 'MDQ_IMSI_BR_CONSISTENCY',
 'MCS_VT_TYPES',
 'MDB_GAP_ANL_INF',
 'MET_SQL_EXPRESSION',
 'MCS_ALT_X_SEGMENT',
 'MCS_MSS_KEY_CONSTRAINTS',
 'MCS_MSS_SERVERS',
 'MCS_MSS_SYSLOGINS',
 'TDAG_CELL',
 'MET_STP_RN_HST',
 'MCS_ALT_SECURITY',
 'MDQ_CD_TRGT_MAP',
 'MCS_ALT_REPL_OLD_COLUMNS',
 'IMSI_TERM_INFO',
 'MCS_ALT_TABLES',
 'MCS_SY_IQ_SYSTRIGGER',
 'MDB_ROLE_MAP',
 'MCS_MSS_PARTITION_SCHEMES',
 'STD_DOM',
 'MCS_ALT_PROCEDURES',
 'MCS_MY_ROUTINES',
 'TMD_TAB_RTN',
 'SQL_MASKING_ACTION',
 'MDL_CHK_ITEM',
 'USR_USER_DEPT_MAP',
 'TDAM_DERIVED_ATTRDATA',
 'MS_UDP',
 'MD_MNG_OBJ',
 'ABB_COMP_02',
 'TMD_MVIEW_LOG',
 'MCS_SY_IQ_SYSCOLUMN',
 'DAM_ROLE_NM_INFO',
 'MCS_VT_VIEWS',
 'ENC_IND_SUBPARTITIONS',
 'MSG_LOG',
 'MDQ_JOB_FLOW_EXEC_JOB',
 'MCS_ALT_PROC_RELATED',
 'MD_TS',
 'MET_RULE_CHK_SCRIPT',
 'TMD_LINK_LOGN',
 'MD_GAP_ATTR_PROPERTY',
 'MDB_DDL_SYNTX_HIST',
 'MCS_ALT_DIRECTORIES',
 'MD_MDL_ATTR_PROPERTY',
 'DAG_CELLBORDER',
 'IMSI_STD_DIC_REQ_CD_VAL',
 'DAG_BLOB',
 'MD_VIEW',
 'TESTTABLE',
 'MCS_VT_CONSTRAINT_COLUMNS',
 'MDQ_BR_COL',
 'MCS_MSS_SYSFILES',
 'STD_TERM_ANLY_WORDS',
 'MCS_MSS_PARTITION_RANGE_VALUES',
 'MS_UDP_LST_VAL',
 'MCS_MSS_FOREIGN_KEYS',
 'TDAM_MDL_CONTAINER',
 'MET_JOB_RN_HST_PART',
 'MD_DF_ALLOC',
 'MD_DB_PM_MAP',
 'MD_SRC',
 'UI_LABEL',
 'MAQ_ISPT_RSLT',
 'DAM_PROP_EXT_DEFI',
 'MA_CALLMTH',
 'IMSI_DBTODB_GAP',
 'IMSI_CODE_INFO',
 'TMD_ARG',
 'MCS_MSS_SQL_EXP_DEPENDS',
 'MCS_ALT_INDEX_PARTITIONS',
 'MD_TS_STG_DTL',
 'MCS_ALT_V_DATABASE',
 'DF_COLL_OBJ',
 'MM_MENU_HIST',
 'MD_HIWATERMARK_STATISTICS',
 'MCS_USER_JOB_SQL',
 'MCS_MY_TABLES',
 'MCS_ALT_CONSTRAINT_RELATED',
 'MD_GAP_OBJ_PROPERTY',
 'MA_CALLMTH_ARG',
 'ENC_IND_EXPRESSIONS',
 'DAM_ENT_OBJ',
 'DF_COLL_JOB_PRPT',
 'MDQ_BR_REQ_INFO',
 'ENC_SUBPART_KEY_COLUMNS',
 'MCS_MSS_SCHEMAS',
 'MDB_GAP_CLASS_PROPERTY',
 'MA_LOGIC_DTL',
 'ENC_MVIEWS',
 'MCS_SY_ASE_SYSPARTITIONKEYS',
 'IMSI_ATTR_PROPERTY',
 'DAG_CELL',
 'DF_MPPGGRP_LIST',
 'MCS_MSS_SYSCOMMENTS',
 'MDQ_SELECT_COLS',
 'MDB_GAP_DATA_TYPE_RULE_BASE',
 'STD_CONTENTS_MAP',
 'MCS_MSS_SYSINDEXES',
 'MCS_PG_SEQUENCES',
 'STD_CODE_DIST_REQ',
 'MS_DB_SRC_LOG',
 'IMSI_OBJ_PROPERTY',
 'MCS_MY_COLUMNS',
 'MDQ_RSLT_DATA',
 'MS_UDP_CLS',
 'MA_SQL_NODE_OP',
 'MATRIX_TEMP',
 'TDAM_ATTR_OBJ',
 'TDAM_DB_OBJ',
 'MCS_SY_IQ_SYSINDEXES',
 'IMSI_MDB_GAP_OBJ_DTL',
 'MAQ_ISPT_ERROR',
 'MCS_ALT_DATABASE_LINKS',
 'MCS_ALT_PASSWORD_LIMITS',
 'MCS_ALT_COMPRESSION_TABLES',
 'DF_AREA_SYS_MAP',
 'MA_MIPLATFORM',
 'DAM_ORD',
 'STD_TERM_ANLY_RSLT',
 'DF_SYS_FLOW',
 'MCS_MSS_DATABASE_FILES',
 'MD_MDL_APRV_REQ_ENTTAB',
 'MET_LAUNCHER_LOG',
 'MCS_SY_IQ_SYSTABLE',
 'MCS_VT_FUNCTION_PARAMETERS',
 'MCS_SY_IQ_SYSCOLUMNS',
 'MCS_ALT_PACKAGE_PARAS',
 'STD_CD_VAL_REL',
 'MA_DIR',
 'MD_OBJ_ADDN',
 'MCS_DB2UDB_SYSINDEXES',
 'MCS_DB2UDB_SYSTABLES',
 'MCS_ALT_SYNONYMS',
 'MA_SQL_OBJ',
 'MD_LINK_LOGN',
 'MCS_PG_TYPE',
 'MS_TERM_HIST',
 'MDQ_BIZ_RULE',
 'DAM_STRU_ORD',
 'MCS_HBASE_COLUMNS',
 'MD_TEXT_INDICES',
 'DF_SYS',
 'MS_MDL_CONFIG',
 'TDAM_COLUMN_INSTANCE',
 'MET_SQL_CDN_EXP',
 'DAM_ATTR_OBJ',
 'MCS_VT_USER_FUNCTIONS',
 'DAM_MAN_VER',
 'MD_UDP_VAL',
 'MCS_ALT_LIBRARIES',
 'IMSI_MDB_MDL_VRFY_RSLT',
 'SQL_DEFAULT_POLICY_MAP',
 'DAM_SUBSET',
 'MCS_HBASE_INDEX',
 'MET_JOB_RN_LOG_PART',
 'MCS_PG_TABLES',
 'DAM_PROP_EXT_DATA',
 'DF_TYPE_CODE',
 'MCS_RS_ATTRIBUTE',
 'MDB_PRTTP_DDL_INF',
 'IMSI_DBLNK_JOB_REQ',
 'MDQ_IMSI_COL_DGNSS_ITEM_UPLOAD',
 'DAM_OBJ_META_DATA',
 'MCS_PG_STATIO_ALL_TABLES',
 'MD_MDL_GAB_INDEX',
 'MET_CLASS',
 'MCS_VT_VIEW_COLUMNS',
 'TMD_RVS_COLUMN',
 'MCS_ALT_TBS_USERS',
 'IMSI_MDL_DB_GAP_INFO',
 'MM_ENV',
 'STD_AREA_DA_MAP',
 'REQ_CHK_ITEM',
 'TDAM_ENT_OBJ',
 'MDB_DDL_VAR_HIST',
 'MAQ_ISPT_RSLT_HK',
 'MD_MDL_SYS_ATTR_DEF',
 'MCS_MSS_SYSDEPENDS',
 'STD_CODE_ADDN',
 'MCS_MSS_SYSTYPES',
 'MCS_ALT_V_PROPERTY',
 'MM_DOMAIN_GROUP',
 'MDQ_PROFILE_ERROR_ANALYZE',
 'MD_FEATURE_USE_STATISTICS',
 'MD_GAP_CLASS',
 'IMSI_STD_DIC_REQ',
 'SHARE_ENTITY_LIST',
 'MCS_DB2UDB_SYSSCHEMATA',
 'IMSI_MDQ_CTQ',
 'MS_CONFIG',
 'MCS_ALT_DUMMY',
 'MCS_VT_TEXT_INDICES',
 'IMSI_MDB_JOB_REQ_DDL',
 'MDQ_BIZ_RULE_COL',
 'DA_OPTIONS',
 'MD_ARG',
 'MDL_CHK_AREA',
 'MD_COL_ADDN_DEF',
 'TDAG_BLOB',
 'MAQ_ISPT',
 'IMSI_MD_UDP_REQ',
 'UI_LABEL_CNVT',
 'ENC_PROCEDURES',
 'TMD_OBJANAL',
 'MDB_OBJ_DDL',
 'IMSI_USR_USER_REG',
 'DAM_PHY_VIEW_INFO',
 'MDB_DDL_VAR',
 'MD_MDL_APRV_REQ',
 'ENC_PART_KEY_COLUMNS',
 'MET_JOB_RN_HST',
 'MD_MDL_GAB_INDEX_COL',
 'MD_COL_COMP',
 'MCS_DB2UDB_SYSTABCONST',
 'MD_LSNR',
 'MA_JOB_LOG_SUMMARY',
 'DF_NM_ACCT_MAP',
 'DF_GRP',
 'MA_SQL_NODE',
 'STD_DIC',
 'TDAM_ENT_DIVIDE_INFO',
 'MCS_ALT_COLUMNS',
 'MDB_OBJ_CDC',
 'DAM_UDP',
 'SEQ_TAB',
 'MET_JOB_TBL',
 'MD_MDL_STORAGEEX',
 'MD_JOB_HIST',
 'DAM_TGT_DB_MDL',
 'MCS_MSS_PARTITION_FUNCTIONS',
 'MCS_ALT_ENCRYPTED_COLUMNS',
 'MA_SQL_HINT',
 'MDQ_SURV_TRGT',
 'MS_TERM',
 'MDB_AREA_MAP',
 'TOBE_TBL_JOB_MAP',
 'STD_NAMING_RULE_VERF',
 'DAM_CLONE',
 'MDQ_SURV_INFO',
 'MCS_VT_PROJECTIONS',
 'DF_SYS_PROP',
 'SQL_TABLE_JOB_RS',
 'MDB_JOB_REQ',
 'MDB_ACCT_ROLE_MAP',
 'MSG_SIGN_RSLT',
 'SQL_MASKING_RULE',
 'MCS_ALT_PROC_PARSE',
 'MCS_PG_VIEWS',
 'MET_SQL_STRUCT',
 'ENC_TAB_COLUMNS',
 'MET_SQL_CONDITION',
 'SQL_PROXY_INST_MAP',
 'MY_TODO',
 'STD_EXPT_TAB',
 'MDB_DDL_SYNTX',
 'MCS_ALT_CONSTRAINT_COLUMNS',
 'MET_BIZ_AREA',
 'MDQ_SURV_BIZAREA',
 'MCS_DB2UDB_SYSTABLESPACES',
 'RM_OBJ_INF',
 'MDQ_MAPPING_BIZ_RULE_RSLT_DATA',
 'MA_ANAL_SVR',
 'ENC_DEPENDENCIES',
 'MCS_HBASE_VIEWS',
 'TDAM_CLONE',
 'SQL_CONN_HIST',
 'MCS_HBASE_SEQUENCE',
 'TMD_DF',
 'TMD_TS_STG_DTL',
 'MCS_DB2UDB_SYSINDEXCOLUSE',
 'IMSI_MDQ_PROFILE_ITEM',
 'ENC_SYNONYMS',
 'MD_MDL_GAB_ALLOC_ACCT',
 'SQL_USER_CONN_RULE',
 'MCS_SY_IQ_SYSFILE',
 'MCS_ALT_PART_INDICES',
 'MA_TDF_HDR',
 'MD_SVR',
 'SQL_INST_CONN',
 'TDAM_PROP_EXT_DEFI',
 'MCS_PG_ATTRDEF',
 'DF_MPPGDEF_FLOW',
 'MDQ_PROFILE_CODE_MAP',
 'DF_FLOW_PROP',
 'MDQ_STD_AREA',
 'TMD_REPRESOL_STATISTICS',
 'MET_VISUAL',
 'MD_OBJ_CHG_DTL',
 'STD_NAMING_RULE',
 'MCS_ALT_INDEX_RELATED',
 'STD_CODE_REL_USER',
 'MCS_SY_IQ_SYSCONSTRAINT',
 'MCS_ALT_TRIGGER_DML_TABLES',
 'MET_PROPERTIES',
 'MSG_LINE',
 'MCS_MY_TRIGGERS',
 'MCS_ALT_PACKAGES',
 'TMD_TEXT_INDICES',
 'MCS_VT_SEQUENCES',
 'MCS_ALT_MATERIALIZED_VIEWS',
 'MA_STATISTIC',
 'MD_MDL_APRV_REQ_ATRCOL',
 'MCS_MY_VIEWS',
 'MDB_DDL_STRU',
 'DAM_ENT_DIVIDE_INFO',
 'IMSI_MDL_GAP_INDEX',
 'RM_COL_INF',
 'TMD_SYNM',
 'MA_USER_CONFIG',
 'ENC_TAB_PARTITIONS',
 'MCS_ALT_PRIVILEGES',
 'MM_PERMISSION_STEP',
 'MDQ_TABLES_PART',
 'ENC_PART_INDEXES',
 'MA_SRC_OBJ',
 'MA_JOB_LOG',
 'IMSI_MDB_GAP_ATTR_DTL',
 'MDB_GAP_CLASS_PROPERTY_HIST',
 'MD_SEG_STG_DTL',
 'MCS_MSS_SQL_MODULES',
 'MDQ_CTQ',
 'STD_REQ_TERM_COMP',
 'MDB_INDEX_COL',
 'MCS_DB2UDB_SYSKEYCOLUSE',
 'MCS_MSS_DEFAULT_CONSTRAINTS',
 'MCS_MSS_ACCT',
 'MDB_INDEX_DB',
 'MCS_SY_SYSOBJECTS',
 'MS_DB_CONFIG',
 'TMD_VIEW',
 'MCS_SY_ASE_SYSCOLUMNS',
 'MD_DB',
 'TDAG_DRAWITEM',
 'MAQ_AQI',
 'IMSI_MD_MDL_CHG_TBL',
 'MOCA_ERR_LOG_SQL',
 'MDQ_SURV_ANSWR',
 'MD_CONST',
 'MET_JOB_PARAM_PART',
 'STD_WORD_COMBI',
 'IMSI_WORD_INFO',
 'TMD_PROJECTION',
 'STD_DOM_CONV_REQ_CONTENTS',
 'ENC_V$TEMP_EXTENT_POOL',
 'MDQ_JOB',
 'MS_TASK_INFO',
 'DAM_MAPPER',
 'MET_OBJECTS',
 'RM_VER_INF',
 'MOCA_SQL_INF',
 'ENC_SOURCE',
 'TDAG_PRSETLINK',
 'MCS_PG_INHERITS',
 'IMSI_MD_MDL_CHG_REQ_TBL',
 'MSG_STEP',
 'MDQ_IMSI_BATCH_CTQ_COL',
 'TMD_FEATURE_USE_STATISTICS',
 'MCS_MY_PARAMETERS',
 'MD_JOB_HIST_LOG',
 'STD_CODE_REFL_REQ',
 'MCS_ALT_V_MEMTBL_INFO',
 'MDB_GAP_CLASS_HIST',
 'IMSI_MDL_GAP_INDEX_COL',
 'MCS_ALT_INDEX_COLUMNS',
 'MM_LOCALE',
 'MET_JOB_MACRO',
 'TDAM_TX_HIST',
 'SQL_POLICY_SQL_TYPE',
 'MCS_SY_IQ_SYSIQJOININDEX',
 'MCS_ALT_TRIGGER_UPDATE_COLUMNS',
 'MCS_SY_SYSCOMMENTS',
 'MA_CMMT_ITEM',
 'MDQ_SURV_TMS',
 'COPY_T',
 'MCS_PG_DESCRIPTION',
 'MDQ_INDCT_CLSFC_CRTR',
 'MD_OBJ',
 'TDAM_PHY_VIEW_INFO',
 'MCS_VT_SCHEMATA',
 'MCS_MY_TBL_CONSTRAINTS',
 'WK_HOUR',
 'MD_ACCT',
 'MD_MDL_APRV_REQ_PRTIDX',
 'TMD_DF_USG',
 'DAM_REL',
 'MET_SQL_CLAUSE',
 'TDAM_ORD',
 'IMSI_END_MNG_STD_DIC',
 'ENC_DB_LINKS',
 'DF_BIZAREA_PROP',
 'MA_FILE',
 'MCS_ALT_PART_LOBS',
 'MD_SVR_DIRECTORY',
 'MD_UDP_REQ_CONTENTS',
 'MCS_ALT_JOBS',
 'IMSI_BIZ_RULE_REQ',
 'MCS_MSS_SYSOBJECTS',
 'MCS_PG_USER',
 'IMSI_MDL_GAP_ATRCOL',
 'TDAM_PANE_SUB_OBJ',
 'MCS_ALT_V_INDEX',
 'MS_CFG_LST_VAL',
 'MDB_TBL_DDL_MAP',
 'MD_MDL_CHG_REQ_UDP',
 'MD_DBMS_OBJ_TYPE_DEF',
 'ITF_REQ_TABLE',
 'IMSI_CD_INST_INFO',
 'MD_MDL_GAB_OBJ_DDL',
 'MD_MDL_GAP_ENTTAB',
 'MM_INFO_TYPE_MAPPING',
 'MDB_DBLINK_REQ',
 'MCS_MSS_SYSCOLUMNS',
 'MD_MDL_COL_VALIDRULE',
 'USR_LOGIN_HIST',
 'DAM_PHY_OBJ_DB_INFO',
 'CONCEPT_LOGICAL_MAP',
 'TDAM_DMN',
 'MA_CMS_REL',
 'TMD_TS',
 'TDAG_CNVAS',
 'MD_MNG_MODEL',
 'DF_SYS_GRP',
 'MCS_SY_ASE_SYSREFERENCES',
 'TMD_COL_COMP',
 'MD_TAB_RTN',
 'MCS_ALT_REPL_OFFLINE_DIR',
 'MDB_OBJ_DDL_HIST',
 'STD_EXPT_COL',
 'MCS_SY_SYSLOGINS',
 'TDAM_OBJ_META_DATA',
 'MET_OBJ_PRPT',
 'SQL_PROXY',
 'MCS_DB2UDB_SYSCOLUMNS',
 'STD_CD_MD_COL_MAP',
 'TMD_HIWATERMARK_STATISTICS',
 'MCS_ALT_AUDIT_ALL_OPTS',
 'MCS_MY_COLLATIONS',
 'MDB_OBJ_GRANT',
 'MCS_MY_STATISTICS',
 'MDQ_IMSI_BR_LAST',
 'MCS_SY_ASE_SYSTYPES',
 'MET_BIZ_CLM',
 'IMSI_MDL_GAP_ENTTAB',
 'MA_LOGIC',
 'DAM_ENT_ATTR_REL',
 'USR_STRU_LOCK',
 'MCS_SY_ASE_SYSINDEXES',
 'DAM_MDL_LOG',
 'MA_CALL_NODE',
 'MDB_INDEX_MDL',
 'MM_DOMAIN_INST',
 'TDAM_MAN_DEL',
 'DF_COLL_FLOW',
 'MD_SEQ',
 'MD_OBJ_PART',
 'TMD_PROC',
 'MCS_ALT_V_UDSEGS',
 'MCS_PG_AUTHID',
 'DF_SYS_COLL_JOB_CLS',
 'MDQ_OBJ',
 'STD_REQUEST_INF',
 'MCS_ALT_DN_USERS',
 'MD_MDL_APRV_REQ_ADDTN',
 'MAQ_ISPT_FNL_RSLT',
 'TDAG_GRPLINK',
 'MCS_PG_TRIGGER',
 'ENC_TEMP_FILES',
 'MDQ_TABLES',
 'STD_CD_AREA',
 'IMSI_MDQ_PROFILE_TYPE',
 'MDB_GAP_CLASS',
 'MET_JOB',
 'MCS_RS_CLASS_INFO',
 'MDQ_COPY_T',
 'MCS_VT_VIEW_TABLES',
 'MCS_MSS_SYSUSERS',
 'DF_REQ_OBJ',
 'SMPL_SR_REQ_TABLE',
 'MM_INFO_TYPE',
 'ENC_TRIGGERS',
 'MD_DEP',
 'TDAM_KEYGROUP',
 'DF_MPPGDEF_APRV_PROP',
 'MET_JOB_CLM',
 'DF_COLL_JOB_RN_HST',
 'MOCA_WORK_INF',
 'MCS_MSS_SYSCONFIGURES',
 'MCS_SY_IQ_SYSPROCPARMS',
 'MCS_ALT_INDICES',
 'MDQ_BIZ_RULE_SQL',
 'MCS_ALT_DATA_PORTS',
 'MA_LIBDIC',
 'TMD_MVIEW_DTL_REL',
 'MDQ_DBMS',
 'DAM_USER_DEFI',
 'STD_DOM_TYPE_TRANF',
 'MET_CLS_PRPT',
 'MCS_ALT_AUDIT',
 'MD_SEG',
 'MD_ENTITY_OWNER',
 'MOCA_WORK_STEP',
 'MA_CONTENT',
 'MDB_OBJ_DDL_ADDN',
 'MCS_VT_COLUMNS',
 'MDB_TBL_MAP',
 'USR_CODE',
 'MCS_AGENT_INF',
 'MS_OBJ_REL',
 'MD_MVIEW_DTL_REL',
 'DAM_COLUMN_INSTANCE',
 'STAT_CONF',
 'MD_UDP_DEF',
 'TDAM_VALID',
 'MD_MDL_CHG_REQ_TBL',
 'MD_GAP_CLASS_BAK',
 'TDAM_PANE',
 'MCS_SY_IQ_SYSIQJOINIXCOLUMN',
 'MCS_PG_PROC',
 'MDQ_BR_REQ',
 'MDQ_JOB_FLOW_LOG',
 'MDQ_BIZAREA_ADDN',
 'ITF_REQ_COLUMN',
 'SQL_USER_MAP',
 'MCS_SY_SYSCONSTRAINTS',
 'MD_UDP_GRP',
 'MCS_ALT_V_USAGE',
 'MDQ_DQI_LNG_MAP',
 'MCS_ALT_REPL_OLD_ITEMS',
 'MDQ_EXCLUDE_INDCT_CLSFC_ITEM',
 'ENC_TABLESPACES',
 'MDL_UDP_SRCH_TRGT',
 'IMSI_MD_MDL_CHG_REQ_COL',
 'MA_MATRIX_FLASH',
 'DAM_TABLESPACE_DATA',
 'MCS_MSS_SYSINDEXKEYS',
 'MD_PATCH_DTL',
 'TMD_PARAM',
 'MCS_MY_TABLESPACES',
 'TDAM_REL',
 'MCS_MSS_SYSREFERENCES',
 'IMSI_MDB_ACCT_JOB_REQ',
 'MDB_DDL_STRU_HIST',
 'USR_USER_APPLICATION',
 'MCS_ALT_DATABASE',
 'TMD_DATABASE_VERSION',
 'MA_APP_AREA',
 'MDB_GAP_CLASS_BAK',
 'MDQ_IMSI_BR_ARC',
 'MCS_ALT_GRANT_OBJECT',
 'DF_OBJ',
 'DAG_DRAWITEM',
 'STD_DOM_GRP',
 'MSG_ATTACH',
 'MD_OBJECT_STATISTICS',
 'MD_MDL_REQ',
 'MD_TRG',
 'TMP_LONGTOVARCHAR',
 'MDB_GAP_DATA_TYPE_RULE_BASE_HIST',
 'MD_MVIEW_LOG',
 'MCS_ALT_VIEWS',
 'TMD_OBJ',
 'IMSI_CMPLX_ANLY',
 'TDAM_TERM',
 'DAM_VALID',
 'DF_FLOW',
 'MCS_MSS_SYSSERVERS',
 'MCS_MY_SCHEMATA',
 'MDQ_IMSI_COL_DGNSS_ITEM_MAP',
 'MA_INC',
 'MDQ_BIZAREA',
 'DAM_PANE_SUB_OBJ',
 'MCS_MSS_SYSCONSTRAINTS',
 'MS_DSBD_INF',
 'MS_TASK_RSLT',
 'MA_OBJ_REL',
 'SQL_HASH',
 'ENC_INDEXES',
 'SQL_INST',
 'MCS_ALT_PROC_PARAS',
 'DM_COL',
 'MA_APP_MAP_REL',
 'DF_OBJ_PROP',
 'MS_CFG_CLS',
 'MCS_ALT_VIEWS_RELATED',
 'MDL_CHK_RSLT',
 'MM_USER_LOGIN_FAIL_INFO',
 'COMMON_TEMP_TABLE',
 'STD_REQ_CD_VAL',
 'MCS_ALT_V_TSSEGS',
 'REP_OWNER_INFO',
 'MDQ_IMSI_BR_SERIAL',
 'MCS_SY_SYSUSERS',
 'MD_PARAM',
 'DAM_KEYGROUP',
 'DF_TYPE_CODE_NM',
 'SQL_POLICY',
 'REQ_CHK_ITEM_VAR',
 'MD_LOGICANAL',
 'TDAM_SYSTEM_COLUMN',
 'MCS_SY_ASE_SYSUSAGES',
 'DF_MPPGGRP',
 'MCS_MSS_INDEXES',
 'MCS_DB2UDB_SYSSEQUENCES',
 'MCS_ALT_PACKAGE_PARSE',
 'MDQ_ADDN_EXEC_INF',
 'TDAM_CLUSTER_COL_INFO',
 'MCS_ALT_PACKAGE_RELATED',
 'STD_SQL',
 'TMD_LINK',
 'DF_REQ_FLOW',
 'MDL_CHK_ITEM_HIST',
 'MCS_PG_ATTRIBUTE',
 'MDB_ACCT_GRANT_INFO',
 'TDAM_MDL_INFO',
 'MSG_SIGN_RSLT_DTL',
 'MA_MYMAC_PGM_INFO',
 'MCS_SY_IQ_SYSINFO',
 'IMSI_MDQ_TABLES',
 'MDQ_COL_DGNSS_ITEM_MAP',
 'MET_CONNECTIONS',
 'DF_MPPGDEF_OBJ',
 'MD_INST',
 'MD_MDL_CHG_REQ_COL',
 'MCS_VT_COMMENTS',
 'ENC_DATA_FILES',
 'MDQ_SURV_ITEM',
 'MDL_AUTH_REQ_CONTENTS',
 'MCS_ALT_XA_HEURISTIC_TRANS',
 'TDAG_ZORDER',
 'TMD_SRC',
 'STD_CODE_PROPERTY',
 'IMSI_MDB_ACCT_GRANT_JOB_REQ',
 'MCS_VT_PROJECTION_COLUMNS',
 'MCS_ALT_V_DATATYPE',
 'MDB_MDL_MAP',
 'MDB_GAP_OBJ_DTL',
 'STD_WORDS',
 'DF_BIZAREA',
 'MAQ_RULESET_RULE',
 'MCS_SY_ASE_SYSDEVICES',
 'DAM_MAN_OBJ',
 'MCS_ALT_REPLICATIONS',
 'MCS_PG_SETTINGS',
 'DAM_MDL_INFO',
 'MCS_SY_IQ_SYSCHECK',
 'MDQ_BR_ERROR_ANALYZE',
 'USR_USER_ABSENCE',
 'MDB_DDL_SYNTX_DBMS',
 'STAT_MDL_STD_RATE',
 'TDAM_DERIVED_INFO',
 'STD_DETAIL_RULE',
 'STD_REQ_CONTENTS',
 'MD_MNG_BR',
 'MDB_ACCT_ROLE',
 'MDB_ACCT_STAT',
 'MD_SYNM',
 'STD_EXT_QUERY',
 'TMD_OBJECT_STATISTICS',
 'MCS_ALT_CONSTRAINTS',
 'MCS_ALT_GRANT_SYSTEM',
 'TDAM_PHY_OBJ_DB_INFO',
 'MCS_ALT_USER_ROLES',
 'MD_MDL_GAP_PRTIDX',
 'MCS_ALT_REPL_HOSTS',
 'MA_CMMT_INFO',
 'MCS_ALT_REPL_OLD_INDICES',
 'MET_LAUNCHER_MEM_LOG',
 'MSG_LINE_USER',
 'MAQ_UNITTEST_RSLT_HK',
 'MA_PREPERENCE_FILTER',
 'MDQ_JOB_LOG_DTL']

In [192]:
filter_rev.head()

      원본엔터티명       테이블명       원본속성명         속성명  ... 실질식별자  NotNull 표준화          설명
0  mm_notice  mm_notice  noticetype  noticetype  ...     Y        Y  상속  noticetype
1  mm_notice  mm_notice    noticeid    noticeid  ...     Y        Y  상속    noticeid
2  mm_notice  mm_notice       title       title  ...   NaN        Y  상속       title
3  mm_notice  mm_notice   noticetxt   noticetxt  ...   NaN        Y  상속   noticetxt
4  mm_notice  mm_notice   startdate   startdate  ...   NaN      NaN  상속   startdate

[5 rows x 14 columns]

In [193]:
filter_rev.to_excel('/gdrive/MyDrive/Colab Notebooks/[현행화]/{}.xlsx'.format(asis_name), index=False)

In [194]:
filter_rev.shape

(140, 14)

# 엔터티명 일괄 변경

In [195]:
import os
menu = asis_name

file_path = '/gdrive/MyDrive/Colab Notebooks/[현행화]/{}.xlsx'.format(menu) #현행화 뽑은 것
file_name = os.path.basename(file_path)
file_path2 = '/gdrive/MyDrive/Colab Notebooks/[ASIS]/{}.xlsx'.format(menu) #as_is
file_path
output_file_name = '[한글변경]/한글_'+ file_name

'/gdrive/MyDrive/Colab Notebooks/[현행화]/공통기본.xlsx'

In [196]:
# filter_rev_3 = pd.read_excel('')
output_file_name = '[한글변경]/한글_'+ file_name
output_file_name

'[한글변경]/한글_공통기본.xlsx'

In [197]:
filter_rev_3 = pd.read_excel(file_path)
asis = pd.read_excel(file_path2)
asis_col = asis_col = asis['테이블명'].unique().tolist()
asis_2 = asis.copy()
filter_rev_tablename = filter_rev_3['테이블명'].unique()
asis_2['테이블명'] = asis_2['테이블명'].str.lower()
asis_2['컬럼명'] = asis_2['컬럼명'].str.lower()
filter_rev_3.tail()

            원본엔터티명           테이블명        원본속성명  ... NotNull 표준화           설명
135  mm_login_hist  mm_login_hist     login_dt  ...       Y  상속     login_dt
136  mm_login_hist  mm_login_hist    logout_dt  ...     NaN  상속    logout_dt
137  mm_login_hist  mm_login_hist  remote_host  ...     NaN  상속  remote_host
138  mm_login_hist  mm_login_hist    remote_ip  ...     NaN  상속    remote_ip
139  mm_login_hist  mm_login_hist   login_rslt  ...     NaN  상속   login_rslt

[5 rows x 14 columns]

In [198]:
#원본 엔터티이름을 한글로 바꾸는 작업 -> HashMap 생성
to_change_entity_filter_rev_tablename = []
for i in range(len(filter_rev_tablename)) :
  real_entity_name = asis_2[asis_2['테이블명'] == filter_rev_tablename[i]]['원본엔터티명'].unique()[0]
  to_change_entity_filter_rev_tablename.append(real_entity_name)
to_change_entity_filter_rev_tablename

['게시판',
 '업무영역테이블매핑',
 '기능그룹',
 '담당자오브젝트매핑',
 '게시파일',
 '공통코드',
 '역할',
 '그룹원',
 '사용자권한',
 '엔진마스터',
 '그룹',
 '메뉴구성정보',
 '엔진라이센스',
 '사용자',
 '부서',
 '접속이력']

In [199]:
change_col1 = {}
for i in range(len(filter_rev_tablename)) :
  aa = filter_rev_tablename[i]
  bb = to_change_entity_filter_rev_tablename[i]
  change_col1[aa] = bb
change_col1

{'mm_code': '공통코드',
 'mm_login_hist': '접속이력',
 'mm_mapbizobj': '업무영역테이블매핑',
 'mm_notice': '게시판',
 'mm_notice_file': '게시파일',
 'mmlicense': '엔진라이센스',
 'mmmaster': '엔진마스터',
 'user_obj_map': '담당자오브젝트매핑',
 'usr_alloc': '사용자권한',
 'usr_dept': '부서',
 'usr_group': '그룹',
 'usr_group_member': '그룹원',
 'usr_menu': '기능그룹',
 'usr_menugrp': '메뉴구성정보',
 'usr_role': '역할',
 'usr_user': '사용자'}

In [75]:
import warnings

In [201]:
# 엔터티명 일괄 변경 
for i in range(len(filter_rev_3.index)) :
   filter_rev_3['원본엔터티명'][i] = change_col1.get(filter_rev_3['원본엔터티명'][i])
for i in range(len(filter_rev_3.index)) :
  if filter_rev_3['원본엔터티명'][i] == None :
    filter_rev_3['원본엔터티명'][i] = filter_rev_3['테이블명'][i]

In [202]:
filter_rev_3.head()

  원본엔터티명       테이블명       원본속성명         속성명  ... 실질식별자  NotNull 표준화          설명
0    게시판  mm_notice  noticetype  noticetype  ...     Y        Y  상속  noticetype
1    게시판  mm_notice    noticeid    noticeid  ...     Y        Y  상속    noticeid
2    게시판  mm_notice       title       title  ...   NaN        Y  상속       title
3    게시판  mm_notice   noticetxt   noticetxt  ...   NaN        Y  상속   noticetxt
4    게시판  mm_notice   startdate   startdate  ...   NaN      NaN  상속   startdate

[5 rows x 14 columns]

In [203]:
filter_rev_3['원본엔터티명']

0       게시판
1       게시판
2       게시판
3       게시판
4       게시판
       ...
135    접속이력
136    접속이력
137    접속이력
138    접속이력
139    접속이력
Name: 원본엔터티명, Length: 140, dtype: object

In [204]:
# 원본엔터티명 제대로 변경됐는지 확인
filter_rev_3.tail()

    원본엔터티명           테이블명        원본속성명  ... NotNull 표준화           설명
135   접속이력  mm_login_hist     login_dt  ...       Y  상속     login_dt
136   접속이력  mm_login_hist    logout_dt  ...     NaN  상속    logout_dt
137   접속이력  mm_login_hist  remote_host  ...     NaN  상속  remote_host
138   접속이력  mm_login_hist    remote_ip  ...     NaN  상속    remote_ip
139   접속이력  mm_login_hist   login_rslt  ...     NaN  상속   login_rslt

[5 rows x 14 columns]

## 컬럼명 기준으로 속성명을 한글로 일괄 변경

In [182]:
# change_col1
# for key, val in change_col1.items():
#     print("key = {key}, value={value}".format(key=key,value=val))

In [205]:
asis_2['컬럼명'].isnull()

0      False
1      False
2       True
3       True
4       True
       ...
230    False
231     True
232     True
233    False
234    False
Name: 컬럼명, Length: 235, dtype: bool

In [206]:
col_to_kor = {}
for i in range(len(asis_2.index)) :
  if asis_2['컬럼명'][i] is None:
    continue
  else :
   colname =  asis_2['컬럼명'][i]
   propname = asis_2['속성명'][i]
   if colname not in col_to_kor :
     col_to_kor[colname] = propname

In [207]:
  col_to_kor

{'access_yn': '접근거부구분',
 'alerttime': 'ALERTTIME',
 'alloc_gbn_cd': '할당구분(ARC)',
 'alloc_id': '할당ID',
 'aval_end_dt': '적용종료일',
 'aval_st_dt': '적용시작일',
 'biz_desc': 'BIZ_DESC',
 'biz_id': '업무ID',
 'biz_name': 'BIZ_NAME',
 'biz_pid': 'BIZ_PID',
 'browse_gbn': 'BROWSE_GBN',
 'buildnumber': 'BUILDNUMBER',
 'cd_cre_dt': '코드생성일자',
 'cd_desc': '코드설명',
 'cd_id': '코드ID',
 'cd_nm': '코드명',
 'cel_phone': '휴대폰',
 'charge_name': 'CHARGE_NAME',
 'confirmyn': 'CONFIRMYN',
 'create_date': 'CREATE_DATE',
 'createdate': 'CREATEDATE',
 'createdby': 'CREATEDBY',
 'createuserid': 'CREATEUSERID',
 'creationdate': 'CREATIONDATE',
 'custom_id': 'CUSTOM_ID',
 'custom_name': 'CUSTOM_NAME',
 'del_yn': 'DEL_YN',
 'deleltyn': 'DELELTYN',
 'dept_desc': '부서설명',
 'dept_id': '부서ID',
 'dept_nm': '부서명',
 'downcnt': 'DOWNCNT',
 'downloadyn': 'DOWNLOADYN',
 'e_mail': 'E_MAIL',
 'email': 'Email',
 'end_dt': '적용종료일',
 'enddate': 'ENDDATE',
 'engine_ver': 'ENGINE_VER',
 'eventid': 'EVENTID',
 'evtdesc': 'EVTDESC',
 'evtmsg': 'EVTMSG',
 'evtname': 'EVTNAME',
 'expireddate': 'EXPIREDDATE',
 'file_content': 'FILE_CONTENT',
 'file_id': 'FILE_ID',
 'file_name': 'FILE_NAME',
 'file_size': 'FILE_SIZE',
 'filedir': 'FILEDIR',
 'fileext': 'FILEEXT',
 'filename': 'FILENAME',
 'filesize': 'FILESIZE',
 'group_id': 'GROUP_ID',
 'group_nm': 'GROUP_NM',
 'group_yn': '그룹여부',
 'home_phone': '자택전화',
 'ip': 'IP',
 'job_id': 'JOB_ID',
 'key1': 'KEY1',
 'key2': 'KEY2',
 'licensecode': 'LICENSECODE',
 'login_dt': '로그인일시',
 'login_id': '로그인ID',
 'login_rslt_cd': '로그인결과',
 'logonyn': 'LOGONYN',
 'logtime': 'LOGTIME',
 'mapp_gbn_cd': '매핑구분',
 'member_id': 'MEMBER_ID',
 'menu_abbr': '메뉴약어',
 'menu_desc': 'MENU_DESC',
 'menu_english': '메뉴영문명',
 'menu_id': '메뉴ID',
 'menu_nm': '메뉴명',
 'menu_pid': '상위메뉴ID',
 nan: '표준분류ID',
 'no': 'NO',
 'no2': 'NO2',
 'noticeid': 'NOTICEID',
 'noticepid': 'NOTICEPID',
 'noticetxt': 'NOTICETXT',
 'noticetype': 'NOTICETYPE',
 'obj_id': 'OBJ_ID',
 'obj_type_cd': '오브젝트구분',
 'objtype': 'OBJTYPE',
 'office_phone': '직장전화',
 'order_no': 'ORDER_NO',
 'paramval': 'PARAMVAL',
 'password': 'Password',
 'prg_knd_cd': '프로그램종류',
 'priv_biz_gbn_cd': '권한업무구분',
 'priv_id': '권한ID',
 'priv_nm': '권한명',
 'prv_gbn': '권한구분',
 'pw_priv': '읽기쓰기권한',
 'querycnt': 'QUERYCNT',
 'registerdate': 'REGISTERDATE',
 'remote_host': '원격HOST',
 'remote_ip': '원격IP',
 'repositoryname': 'REPOSITORYNAME',
 'role_desc': '역할설명',
 'role_id': '역할ID',
 'role_nm': '역할명',
 'role_pid': 'ROLE_PID',
 'scr_height': '화면높이',
 'scr_obj_id': '화면객체ID',
 'scr_obj_nm': '화면객체명',
 'scr_type': '화면타입코드',
 'scr_width': '화면넓이',
 'serialnumber': 'SERIALNUMBER',
 'serverid': 'SERVERID',
 'show_ord': '코드순서',
 'smsyn': 'SMSYN',
 'start_dt': '적용시작일',
 'startdate': 'STARTDATE',
 'state': 'STATE',
 'systemyn': 'SYSTEMYN',
 'title': 'TITLE',
 'up_cd_id': '상위코드ID',
 'up_dept_id': '상위부서ID',
 'use_yn': '사용여부',
 'user_aloc_cd': '담당자구분',
 'user_id': '사용자ID',
 'user_nm': '사용자명',
 'userid': 'USERID',
 'version': 'VERSION'}

In [208]:
# 엔터티명 일괄 변경 
for i in range(len(filter_rev_3.index)) :
   filter_rev_3['속성명'][i] = col_to_kor.get(filter_rev_3['컬럼명'][i])

for i in range(len(filter_rev_3.index)) :
  if filter_rev_3['속성명'][i] == None :
    filter_rev_3['속성명'][i] = filter_rev_3['컬럼명'][i]

In [209]:
#제대로 바뀌었는지 확인
filter_rev_3

    원본엔터티명           테이블명        원본속성명  ... NotNull 표준화           설명
0      게시판      mm_notice   noticetype  ...       Y  상속   noticetype
1      게시판      mm_notice     noticeid  ...       Y  상속     noticeid
2      게시판      mm_notice        title  ...       Y  상속        title
3      게시판      mm_notice    noticetxt  ...       Y  상속    noticetxt
4      게시판      mm_notice    startdate  ...     NaN  상속    startdate
..     ...            ...          ...  ...     ...  ..          ...
135   접속이력  mm_login_hist     login_dt  ...       Y  상속     login_dt
136   접속이력  mm_login_hist    logout_dt  ...     NaN  상속    logout_dt
137   접속이력  mm_login_hist  remote_host  ...     NaN  상속  remote_host
138   접속이력  mm_login_hist    remote_ip  ...     NaN  상속    remote_ip
139   접속이력  mm_login_hist   login_rslt  ...     NaN  상속   login_rslt

[140 rows x 14 columns]

In [210]:
filter_rev_3.to_excel('/gdrive/MyDrive/Colab Notebooks/[현행화]/{}.xlsx'.format(output_file_name), index=False)

# 함수화
## 필터링 함수화

In [274]:
# 변경) file_asis 위치 -> 해당 주제영역 일괄 편집 후 엑셀 파일로 저장한 것, 이름은 주제영역이 포함되어야함

def filtering(asis_name) :
  asis_name = asis_name
  file_asis = '/gdrive/MyDrive/Colab Notebooks/[ASIS]/{}.xlsx'.format(asis_name)
  asis = pd.read_excel(file_asis)

  # asis의 unique한 테이블명을 list로 저장
  asis_col = asis['테이블명'].unique().tolist()
 # 공통영역에 해당하는 리버스 데이터를 거르기 위한 작업
  # filte_rev에 공통영역에 해당하는 리버스 데이터를 넣음. 스키마만 따기 위한 작업
  filter_rev = pd.DataFrame(rev[rev['테이블명'] == ''])

  # for문
  # 교집합에 해당하는 리버스 데이터를 넣음.
  
  for i in range(len(rev.index)) :
    rev_uppers = rev['테이블명'][i].upper()
    if rev_uppers in asis_col:
      filter_rev = pd.concat([filter_rev, rev[i:i+1]], ignore_index=True)
  
  output_file_path_FILTER = '/gdrive/MyDrive/Colab Notebooks/[현행화]/{}.xlsx'.format(asis_name)
  filter_rev.to_excel(output_file_path_FILTER, index=False)
  sample = pd.read_excel(output_file_path_FILTER)
  sample

In [275]:
import os
def toKorean(asis_name) :
  menu = asis_name

  # file_path = '/gdrive/MyDrive/Colab Notebooks/[현행화]/{}.xlsx'.format(menu) #현행화 뽑은 것
  output_file_path_FILTER = '/gdrive/MyDrive/Colab Notebooks/[현행화]/{}.xlsx'.format(asis_name)
  file_path = output_file_path_FILTER
  file_name = os.path.basename(file_path)
  file_path2 = '/gdrive/MyDrive/Colab Notebooks/[ASIS]/{}.xlsx'.format(menu) #as_is
  output_file_name = '[한글변경]/한글_'+ file_name

  filter_rev_3 = pd.read_excel(file_path)
  asis = pd.read_excel(file_path2)

  asis_col = asis_col = asis['테이블명'].unique().tolist()
  asis_2 = asis.copy()
  filter_rev_tablename = filter_rev_3['테이블명'].unique()
  asis_2['테이블명'] = asis_2['테이블명'].str.lower()
  asis_2['컬럼명'] = asis_2['컬럼명'].str.lower()

  #원본 엔터티이름을 한글로 바꾸는 작업 -> HashMap 생성
  to_change_entity_filter_rev_tablename = []
  for i in range(len(filter_rev_tablename)) :
    real_entity_name = asis_2[asis_2['테이블명'] == filter_rev_tablename[i]]['원본엔터티명'].unique()[0]
    to_change_entity_filter_rev_tablename.append(real_entity_name)
  change_col1 = {}

  for i in range(len(filter_rev_tablename)) :
    aa = filter_rev_tablename[i]
    bb = to_change_entity_filter_rev_tablename[i]
    change_col1[aa] = bb

  # 엔터티명 일괄 변경 
  for i in range(len(filter_rev_3.index)) :
    filter_rev_3['원본엔터티명'][i] = change_col1.get( filter_rev_3['원본엔터티명'][i])


  # 속성명 한글로 일괄 변경----
  # asis 기준 HashMap 생성
  col_to_kor = {}
  for i in range(len(asis_2.index)) :
    if asis_2['컬럼명'][i] is None:
      continue
    else :
      colname =  asis_2['컬럼명'][i]
      propname = asis_2['속성명'][i]
      if colname not in col_to_kor :
        col_to_kor[colname] = propname

  # 엔터티명 일괄 변경 
  for i in range(len(filter_rev_3.index)) :
    filter_rev_3['속성명'][i] = col_to_kor.get(filter_rev_3['컬럼명'][i])

  # 속성명이 None인 경우 (ASIS에는 없는데 리버스에 있는 경우, 참조할 대상이 없으로 None이 나옴. 이런 경우 기존 컬럼명이랑 동일하게 만듬)
  for i in range(len(filter_rev_3.index)) :
    if filter_rev_3['속성명'][i] == None :
      filter_rev_3['속성명'][i] = filter_rev_3['컬럼명'][i]

  # 파일로 출력
  output_file_name = '[한글변경]/한글_'+ file_name
  output_file_path = '/gdrive/MyDrive/Colab Notebooks/[현행화]/{}.xlsx'.format(output_file_name)
  filter_rev_3.to_excel(output_file_path, index=False)
  sample = pd.read_excel(output_file_path)
  sample

# 실행

In [328]:
# 변경해야하는 것
# 공통영역 / '결재관리'/ 등 주제영역 을 menu에 지정
#  
import os
import pandas as pd
import numpy as np

menu = '다국어지원'

file_path = '/gdrive/MyDrive/Colab Notebooks/[ASIS]/{}.xlsx'.format(menu) # ASIS 저장한 파일
file_name = os.path.basename(file_path)
reverse_file = '/gdrive/MyDrive/Colab Notebooks/리버스_일괄편집.xlsx'
rev = pd.read_excel(reverse_file)

In [329]:
# 필터링 실행
filtering(menu)

In [273]:
# 엔터티명, 속성 변경
toKorean(menu)

## 엔터티명은 같은데 테이블 명이 다른 경우 필터링 체크

In [393]:
menu_error = '다국어지원'
file_path2 = '/gdrive/MyDrive/Colab Notebooks/[ASIS]/{}.xlsx'.format(menu_error) #as_is
asis = pd.read_excel(file_path2)
rev = pd.read_excel('/gdrive/MyDrive/Colab Notebooks/리버스_일괄편집.xlsx')

In [394]:
asis

             원본엔터티명             테이블명   원본속성명     속성명  ... 실질식별자 NotNull 표준화  설명
0            인사정보_1             인사정보    고객ID    고객ID  ...     Y       Y  상속 NaN
1            인사정보_1             인사정보    조직ID    조직ID  ...   NaN       Y  상속 NaN
2             다국어용어          MS_TERM    언어구분    언어구분  ...     Y       Y  상속 NaN
3             다국어용어          MS_TERM    용어ID    용어ID  ...     Y       Y  상속 NaN
4             다국어용어          MS_TERM     용어명     용어명  ...   NaN       Y  상속 NaN
5             다국어용어          MS_TERM      설명      설명  ...   NaN     NaN  상속 NaN
6             다국어용어          MS_TERM    용어구분    용어구분  ...   NaN       Y  상속 NaN
7            다국어메시지           MS_MSG    언어구분    언어구분  ...     Y       Y  상속 NaN
8            다국어메시지           MS_MSG   메시지ID   메시지ID  ...     Y       Y  상속 NaN
9            다국어메시지           MS_MSG  메시지타이틀  메시지타이틀  ...   NaN       Y  상속 NaN
10           다국어메시지           MS_MSG    메시지문    메시지문  ...   NaN     NaN  상속 NaN
11           다국어메시지           MS_MSG   메시지구분   메시지구분  ...   NaN       Y  상속 NaN
12          사용자언어매핑  MS_USR_LANG_MAP    고객ID    고객ID  ...     Y       Y  상속 NaN
13          사용자언어매핑  MS_USR_LANG_MAP    언어구분    언어구분  ...   NaN       Y  상속 NaN
14           공통코드_1          MS_CODE    언어구분    언어구분  ...     Y       Y  상속 NaN
15           공통코드_1          MS_CODE  상위코드ID  상위코드ID  ...     Y       Y  상속 NaN
16           공통코드_1          MS_CODE    코드ID    코드ID  ...     Y       Y  상속 NaN
17           공통코드_1          MS_CODE     코드명     코드명  ...   NaN       Y  상속 NaN
18           공통코드_1          MS_CODE      설명      설명  ...   NaN     NaN  상속 NaN
19           공통코드_1          MS_CODE    표시순서    표시순서  ...   NaN     NaN  상속 NaN
20           공통코드_1          MS_CODE    생성일자    생성일자  ...   NaN     NaN  상속 NaN
21           공통코드_1          MS_CODE  코드유형코드  코드유형코드  ...   NaN     NaN  상속 NaN
22           시스템로케일        MS_LOCALE    언어구분    언어구분  ...     Y       Y  상속 NaN
23           시스템로케일        MS_LOCALE     언어명     언어명  ...   NaN     NaN  상속 NaN
24  다국어용어 . 용어 . 메뉴              NaN    메뉴약어    메뉴약어  ...   NaN     NaN  상속 NaN
25       다국어용어 . 용어              NaN    대상구분    대상구분  ...   NaN     NaN  상속 NaN
26     다국어메시지 . 메시지              NaN    대상구분    대상구분  ...   NaN     NaN  상속 NaN

[27 rows x 14 columns]

In [395]:
# 기존 asis 영역에서 원본엔터티명과 테이블명을 하나의 Hashmap 형태로 저장,
asis_enti_table = {}
for i in range(len(asis.index)) :
  entity = asis['원본엔터티명'][i]
  table = asis['테이블명'][i]
  if entity not in asis_enti_table :
    asis_enti_table[entity] = table
asis_enti_table

{'공통코드_1': 'MS_CODE',
 '다국어메시지': 'MS_MSG',
 '다국어메시지 . 메시지': nan,
 '다국어용어': 'MS_TERM',
 '다국어용어 . 용어': nan,
 '다국어용어 . 용어 . 메뉴': nan,
 '사용자언어매핑': 'MS_USR_LANG_MAP',
 '시스템로케일': 'MS_LOCALE',
 '인사정보_1': '인사정보'}

In [396]:
# 찾는 것이 없으면 처리해야하는 로직 테스트
test_dic = {}
test_dic['a'] = 'aa'
test_dic['b'] = 'bb'

if test_dic.get('bb') == None :
  print('찾는 대상이 딕셔너리에 없습니다')

찾는 대상이 딕셔너리에 없습니다

In [397]:
# 원본엔터티명과 리버스파일의 원본엔터티와 비교해 같은 것이 있다면, 그 리버스파일의 원본엔터티-테이블명을 HashMap(딕셔너리) 로 담아서 저장한다.
#  filter_rev_3['원본엔터티명'][i] = change_col1.get(filter_rev_3['원본엔터티명'][i])

same_asis_ent = {}
diff_asis = {}
diff_rev = {}

for i in range(len(rev.index)) :
  rev_entity = rev['원본엔터티명'][i].upper()
  rev_table = rev['테이블명'][i].upper()

  if asis_enti_table.get(rev_entity) == None : # ASIS에는 있는데 변경되어서 리버스에는 없을때
    continue
  else : # ASIS에 리버스의 엔터티명이 있을때
    if asis_enti_table.get(rev_entity) == rev_table : # 정확히 ASIS와 리버스의 (원본엔터티명 - 테이블명)이 일치하는 경우
      if rev_entity not in same_asis_ent:
        same_asis_ent[rev_entity] = rev_table
    else : # 우려하는 상황 <- 원본엔터티명은 같으나 테이블명이 서로 다른 경우
        if rev_entity not in diff_rev:
          diff_rev[rev_entity] = rev_table
          diff_asis[rev_entity] = asis_enti_table.get(rev_entity)

In [398]:
same_asis_ent

{}

In [399]:
asis_enti_table

{'공통코드_1': 'MS_CODE',
 '다국어메시지': 'MS_MSG',
 '다국어메시지 . 메시지': nan,
 '다국어용어': 'MS_TERM',
 '다국어용어 . 용어': nan,
 '다국어용어 . 용어 . 메뉴': nan,
 '사용자언어매핑': 'MS_USR_LANG_MAP',
 '시스템로케일': 'MS_LOCALE',
 '인사정보_1': '인사정보'}

In [400]:
# ASIS에는 있지만 리버스에는 없는 원본엔터티명
# 경우의수 1) 엔터티 삭제로 인한 검색 불가 / 2) 엔터티명 = 테이블 명과 같아서 나오지 않은 경우
set(asis_enti_table) - set(same_asis_ent)

{'공통코드_1',
 '다국어메시지',
 '다국어메시지 . 메시지',
 '다국어용어',
 '다국어용어 . 용어',
 '다국어용어 . 용어 . 메뉴',
 '사용자언어매핑',
 '시스템로케일',
 '인사정보_1'}

In [401]:
diff_asis

{}

In [402]:
diff_rev

{}

In [304]:
# 오류 데이터 저장
reverse_file = '/gdrive/MyDrive/Colab Notebooks/리버스_일괄편집.xlsx'
rev = pd.read_excel(reverse_file)
# df_error = pd.DataFrame(rev[rev['테이블명'] == ''])
error_path = '/gdrive/MyDrive/Colab Notebooks/[현행화]/리버스시_공유엔터티명_중복오류.xlsx'

df_error = pd.read_excel(error_path)
error_col = 'MM_LOGIN_HIST'
rev[rev['테이블명'] == error_col.lower()]

              원본엔터티명           테이블명        원본속성명  ... NotNull 표준화           설명
13658  mm_login_hist  mm_login_hist      user_id  ...       Y  상속      user_id
13659  mm_login_hist  mm_login_hist     login_dt  ...       Y  상속     login_dt
13660  mm_login_hist  mm_login_hist    logout_dt  ...     NaN  상속    logout_dt
13661  mm_login_hist  mm_login_hist  remote_host  ...     NaN  상속  remote_host
13662  mm_login_hist  mm_login_hist    remote_ip  ...     NaN  상속    remote_ip
13663  mm_login_hist  mm_login_hist   login_rslt  ...     NaN  상속   login_rslt

[6 rows x 14 columns]

In [305]:
error_col2 = 'USR_LOGIN_HIST'
rev_error = pd.DataFrame(rev[rev['테이블명'] == error_col2.lower()])
rev_error['주제영역'] = '리버스'
rev_error

      원본엔터티명            테이블명     원본속성명       속성명  ... NotNull  표준화        설명  주제영역
11115   접속이력  usr_login_hist  LOGIN_DT  LOGIN_DT  ...       Y   상속  LOGIN_DT   리버스
11116   접속이력  usr_login_hist      원격IP      원격IP  ...     NaN   상속      원격IP   리버스
11117   접속이력  usr_login_hist    원격HOST    원격HOST  ...     NaN   상속    원격HOST   리버스
11118   접속이력  usr_login_hist     사용자ID     사용자ID  ...       Y   상속     사용자ID   리버스

[4 rows x 15 columns]

In [307]:
asis_error = pd.DataFrame(asis[asis['원본엔터티명'] == '접속이력'])
asis_error['주제영역'] = menu_error
asis_error

    원본엔터티명           테이블명   원본속성명     속성명  ... NotNull 표준화  설명  주제영역
219   접속이력  MM_LOGIN_HIST   사용자ID   사용자ID  ...       Y  상속 NaN  공통기본
220   접속이력  MM_LOGIN_HIST   로그인ID   로그인ID  ...     NaN  상속 NaN  공통기본
221   접속이력  MM_LOGIN_HIST   로그인일시   로그인일시  ...       Y  상속 NaN  공통기본
222   접속이력  MM_LOGIN_HIST    원격IP    원격IP  ...     NaN  상속 NaN  공통기본
223   접속이력  MM_LOGIN_HIST  원격HOST  원격HOST  ...     NaN  상속 NaN  공통기본
224   접속이력  MM_LOGIN_HIST   로그인결과   로그인결과  ...       Y  상속 NaN  공통기본

[6 rows x 15 columns]

In [308]:
df_error = pd.concat([df_error, rev_error],ignore_index=True)
df_error = pd.concat([df_error, asis_error],ignore_index=True)
df_error

  원본엔터티명            테이블명     원본속성명       속성명  ... NotNull 표준화        설명  주제영역
0   접속이력  usr_login_hist  LOGIN_DT  LOGIN_DT  ...       Y  상속  LOGIN_DT   리버스
1   접속이력  usr_login_hist      원격IP      원격IP  ...     NaN  상속      원격IP   리버스
2   접속이력  usr_login_hist    원격HOST    원격HOST  ...     NaN  상속    원격HOST   리버스
3   접속이력  usr_login_hist     사용자ID     사용자ID  ...       Y  상속     사용자ID   리버스
4   접속이력   MM_LOGIN_HIST     사용자ID     사용자ID  ...       Y  상속       NaN  공통기본
5   접속이력   MM_LOGIN_HIST     로그인ID     로그인ID  ...     NaN  상속       NaN  공통기본
6   접속이력   MM_LOGIN_HIST     로그인일시     로그인일시  ...       Y  상속       NaN  공통기본
7   접속이력   MM_LOGIN_HIST      원격IP      원격IP  ...     NaN  상속       NaN  공통기본
8   접속이력   MM_LOGIN_HIST    원격HOST    원격HOST  ...     NaN  상속       NaN  공통기본
9   접속이력   MM_LOGIN_HIST     로그인결과     로그인결과  ...       Y  상속       NaN  공통기본

[10 rows x 15 columns]

In [309]:
df_error.to_excel('/gdrive/MyDrive/Colab Notebooks/[현행화]/리버스시_공유엔터티명_중복오류.xlsx', index=False)